28_Retell_outbound_call.json
{
  "name": "28_Retell_outbound_call",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbound",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        -180
      ],
      "id": "a2191541-6f6f-4303-b235-5e4c9286e836",
      "name": "Webhook",
      "webhookId": "e86b04e1-f25c-45ef-adeb-85f1c622c58e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI assistant. Your task is to analyze the following call transcript and extract structured information from it.\n\n\nMake sure:\n- The extracted details are accurate and based only on the information in the transcript.\n- The \"summary\" field provides a concise overview of the call in 2–3 sentences.\n- If a field is missing or not mentioned, return null for that field.\n\nCurrent Date and Time is: {{ $now }}\n\nHere is the transcript:\n{{ $json.body.call.transcript }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        160,
        -180
      ],
      "id": "2987c500-0602-4764-9a26-339b3021f4a5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"name\": \"<Full Name>\",\n  \"email\": \"<Email Address>\",\n  \"phone_number\": \"<Phone Number>\",\n  \"reason_for_visit\": \"<Reason for dental visit>\",\n  \"meeting_scheduled\": \"<Meeting Schedule day and time>\",\n  \"summary\": \"<Short summary of the call>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        360,
        40
      ],
      "id": "3a21256f-652e-4eb4-b28e-9d5298b5af1f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        188,
        40
      ],
      "id": "94fc22dd-deaa-42b5-a927-9413d9f62f24",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0WTNdr5yenQy8OS6",
          "name": "OpenAi Lakshit"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "77065807-bb77-4f15-9900-9b1875441393",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "call_analyzed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -60,
        -180
      ],
      "id": "00164c7a-ec10-4862-9cac-88eddcdb4ba1",
      "name": "Check Call Analysed "
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1DS-trWsUZdZDHyWkUTYhD5Scbkp4H-HkLbMs2xWlGzM",
          "mode": "list",
          "cachedResultName": "Voice Agent Dental Clinic Entry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DS-trWsUZdZDHyWkUTYhD5Scbkp4H-HkLbMs2xWlGzM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 277336271,
          "mode": "list",
          "cachedResultName": "Inbound",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DS-trWsUZdZDHyWkUTYhD5Scbkp4H-HkLbMs2xWlGzM/edit#gid=277336271"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.output.name }}",
            "Email": "={{ $json.output.email }}",
            "Phone Number": "={{ $json.output.phone_number }}",
            "Reason to Visit": "={{ $json.output.reason_for_visit }}",
            "Meeting Time": "={{ $json.output.meeting_scheduled }}",
            "Summary": "={{ $json.output.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reason to Visit",
              "displayName": "Reason to Visit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Meeting Time",
              "displayName": "Meeting Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        540,
        -180
      ],
      "id": "83a7c83b-871f-412f-9959-fb050ec02bf0",
      "name": "Update Entry",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uvQG3YEEXtu5NVSj",
          "name": "Freelance Account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "lakshit1996.app.n8n.cloud",
            "user-agent": "axios/1.7.7",
            "content-length": "49494",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "100.20.5.228",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "95eab786e4d15ee0-PDX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "100.20.5.228, 172.68.174.151",
            "x-forwarded-host": "lakshit1996.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-41-785c66d969-7lscl",
            "x-is-trusted": "yes",
            "x-real-ip": "100.20.5.228",
            "x-retell-signature": "v=1752430014513,d=aae8bda9375a728f23691a927b897789a86225faa1b79d2d4e6d69b0cc23f511"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "call_analyzed",
            "call": {
              "call_id": "call_ceb9b977b14cd04fd5edd024382",
              "call_type": "web_call",
              "agent_id": "agent_992d922b1758fdfc561211abcc",
              "agent_version": 6,
              "agent_name": "Inbound Dental Clinic Agent",
              "call_status": "ended",
              "start_timestamp": 1752429873734,
              "end_timestamp": 1752430011972,
              "duration_ms": 138238,
              "transcript": "User: Hello.\nAgent: Hello! Thank you for calling Toothsi Clinic. How can I help you today?\nUser: I'm looking for the services which you all provide. Can you list me down?\nAgent: Certainly! At Toothsi Clinic, we offer a range of dental services including:\n\n- Routine Check-ups and Cleanings\n- Fillings and Restorations\n- Teeth \nAgent: Whitening and \nUser: Okay. Great. Great.\nUser: Like, I am then looking for teeth whitening.\nUser: You book an appointment appointment for that?\nAgent: I can help you book an appointment for teeth whitening. May I please have your first name? If you \nUser: Yeah. \nAgent: wouldn’t mind, could you spell it \nUser: It's Okay. Yeah. It's Lakshay. L a k s h I t.\nAgent: Thank you, Lakshay. Could you please provide your last name?\nUser: It's Ukani.\nUser: k a n I,\nAgent: Thanks, Lakshay Ukani. What’s your preferred contact number?\nUser: It's double nine eight seven seven four double nine five one.\nAgent: Could you please share your email address, and spell it out for me?\nUser: It's Lakshit l a k s h I t. At direct g mail dot com.\nAgent: Thank you for providing your details, Lakshay Ukani. Just to confirm, your contact number is 9987744951 and your email address is lakshit@directgmail.com. Is that correct?\nUser: Correct. Correct.\nAgent: Great! When would you like to schedule your teeth whitening appointment? Please provide your preferred date and time.\nUser: What kind of slots are available for tomorrow?\nAgent: Let me \nAgent: check the available slots for tomorrow for you.We have available slots tomorrow from 9:00 AM to 1:00 PM and from 2:00 PM to 4:00 PM. What time would you prefer within these hours?\nUser: Go for ten PM to eleven ten thirty.\nAgent: Our available slots for tomorrow are only between 9:00 AM to 1:00 PM and 2:00 PM to 4:00 PM. Unfortunately, 10 PM to 11:30 PM is not available. Would you like to choose a time within the available slots?\nUser: Yeah. So make it, like, ten AM.\nAgent: Your appointment is confirmed. You will \nAgent: receive a confirmation email shortly.Is there anything else I can help you with today?\n",
              "transcript_object": [
                {
                  "role": "user",
                  "content": "Hello.",
                  "words": [
                    {
                      "word": "Hello.",
                      "start": 0.9919999700000001,
                      "end": 1.312
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Hello! Thank you for calling Toothsi Clinic. How can I help you today?",
                  "words": [
                    {
                      "word": "Hello!",
                      "start": 2.18,
                      "end": 2.831
                    },
                    {
                      "word": " Thank ",
                      "start": 2.876625,
                      "end": 3.097625
                    },
                    {
                      "word": "you ",
                      "start": 3.097625,
                      "end": 3.306625
                    },
                    {
                      "word": "for ",
                      "start": 3.306625,
                      "end": 3.457625
                    },
                    {
                      "word": "calling ",
                      "start": 3.457625,
                      "end": 3.724625
                    },
                    {
                      "word": "Toothsi ",
                      "start": 3.724625,
                      "end": 4.014625
                    },
                    {
                      "word": "Clinic.",
                      "start": 4.014625,
                      "end": 4.688625
                    },
                    {
                      "word": " How ",
                      "start": 4.734208251953125,
                      "end": 4.920208251953125
                    },
                    {
                      "word": "can ",
                      "start": 4.920208251953125,
                      "end": 5.048208251953125
                    },
                    {
                      "word": "I ",
                      "start": 5.048208251953125,
                      "end": 5.106208251953125
                    },
                    {
                      "word": "help ",
                      "start": 5.106208251953125,
                      "end": 5.280208251953125
                    },
                    {
                      "word": "you ",
                      "start": 5.280208251953125,
                      "end": 5.385208251953125
                    },
                    {
                      "word": "today?",
                      "start": 5.385208251953125,
                      "end": 5.895208251953125
                    }
                  ],
                  "metadata": {
                    "response_id": 1
                  }
                },
                {
                  "role": "user",
                  "content": "I'm looking for the services which you all provide. Can you list me down?",
                  "words": [
                    {
                      "word": "I'm ",
                      "start": 7.022,
                      "end": 7.662
                    },
                    {
                      "word": "looking ",
                      "start": 7.662,
                      "end": 7.8219997
                    },
                    {
                      "word": "for ",
                      "start": 7.8219997,
                      "end": 7.982
                    },
                    {
                      "word": "the ",
                      "start": 8.252,
                      "end": 8.892
                    },
                    {
                      "word": "services ",
                      "start": 9.052,
                      "end": 9.532
                    },
                    {
                      "word": "which ",
                      "start": 9.752,
                      "end": 10.151999
                    },
                    {
                      "word": "you ",
                      "start": 10.151999,
                      "end": 10.472
                    },
                    {
                      "word": "all ",
                      "start": 10.472,
                      "end": 10.712
                    },
                    {
                      "word": "provide. ",
                      "start": 10.712,
                      "end": 11.031999
                    },
                    {
                      "word": "Can ",
                      "start": 11.031999,
                      "end": 11.191999000000001
                    },
                    {
                      "word": "you ",
                      "start": 11.191999000000001,
                      "end": 11.352
                    },
                    {
                      "word": "list ",
                      "start": 11.352,
                      "end": 11.512
                    },
                    {
                      "word": "me ",
                      "start": 11.512,
                      "end": 11.672
                    },
                    {
                      "word": "down?",
                      "start": 11.672,
                      "end": 11.831999
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Certainly! At Toothsi Clinic, we offer a range of dental services including:\n\n- Routine Check-ups and Cleanings\n- Fillings and Restorations\n- Teeth ",
                  "words": [
                    {
                      "word": "Certainly!",
                      "start": 12.623,
                      "end": 13.413
                    },
                    {
                      "word": " At ",
                      "start": 13.763,
                      "end": 14.03
                    },
                    {
                      "word": "Toothsi ",
                      "start": 14.03,
                      "end": 14.494
                    },
                    {
                      "word": "Clinic, ",
                      "start": 14.494,
                      "end": 15.202
                    },
                    {
                      "word": "we ",
                      "start": 15.202,
                      "end": 15.376
                    },
                    {
                      "word": "offer ",
                      "start": 15.376,
                      "end": 15.69
                    },
                    {
                      "word": "a ",
                      "start": 15.69,
                      "end": 15.806
                    },
                    {
                      "word": "range ",
                      "start": 15.806,
                      "end": 16.154
                    },
                    {
                      "word": "of ",
                      "start": 16.154,
                      "end": 16.305
                    },
                    {
                      "word": "dental ",
                      "start": 16.305,
                      "end": 16.7
                    },
                    {
                      "word": "services ",
                      "start": 16.7,
                      "end": 17.362
                    },
                    {
                      "word": "including:\n",
                      "start": 17.362,
                      "end": 18.499
                    },
                    {
                      "word": "\n- ",
                      "start": 18.499,
                      "end": 18.964
                    },
                    {
                      "word": "Routine ",
                      "start": 18.964,
                      "end": 19.533
                    },
                    {
                      "word": "Check-ups ",
                      "start": 19.533,
                      "end": 19.8
                    },
                    {
                      "word": "and ",
                      "start": 19.8,
                      "end": 20.775
                    },
                    {
                      "word": "Cleanings\n",
                      "start": 20.775,
                      "end": 21.228
                    },
                    {
                      "word": "- ",
                      "start": 21.228,
                      "end": 21.379
                    },
                    {
                      "word": "Fillings ",
                      "start": 21.379,
                      "end": 22.679
                    },
                    {
                      "word": "and ",
                      "start": 22.679,
                      "end": 23.051
                    },
                    {
                      "word": "Restorations\n",
                      "start": 23.051,
                      "end": 23.736
                    },
                    {
                      "word": "- ",
                      "start": 23.736,
                      "end": 24.072
                    },
                    {
                      "word": "Teeth ",
                      "start": 24.072,
                      "end": 24.537
                    }
                  ],
                  "metadata": {
                    "response_id": 2
                  }
                },
                {
                  "role": "agent",
                  "content": "Whitening and ",
                  "words": [
                    {
                      "word": "Whitening ",
                      "start": 24.537,
                      "end": 25.175
                    },
                    {
                      "word": "and ",
                      "start": 25.175,
                      "end": 25.605
                    }
                  ],
                  "metadata": {
                    "response_id": 2
                  }
                },
                {
                  "role": "user",
                  "content": "Okay. Great. Great.",
                  "words": [
                    {
                      "word": "Okay. ",
                      "start": 25.162,
                      "end": 25.642
                    },
                    {
                      "word": "Great. ",
                      "start": 25.642,
                      "end": 26.201999999999998
                    },
                    {
                      "word": "Great.",
                      "start": 26.201999999999998,
                      "end": 26.362
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "Like, I am then looking for teeth whitening.",
                  "words": [
                    {
                      "word": "Like, ",
                      "start": 26.712,
                      "end": 27.032
                    },
                    {
                      "word": "I ",
                      "start": 27.032,
                      "end": 27.272
                    },
                    {
                      "word": "am ",
                      "start": 27.272,
                      "end": 27.511999999999997
                    },
                    {
                      "word": "then ",
                      "start": 27.511999999999997,
                      "end": 27.752001
                    },
                    {
                      "word": "looking ",
                      "start": 27.752001,
                      "end": 28.072001
                    },
                    {
                      "word": "for ",
                      "start": 28.072001,
                      "end": 28.631999999999998
                    },
                    {
                      "word": "teeth ",
                      "start": 28.791999999999998,
                      "end": 29.112
                    },
                    {
                      "word": "whitening.",
                      "start": 29.112,
                      "end": 29.592
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "You book an appointment appointment for that?",
                  "words": [
                    {
                      "word": "You ",
                      "start": 29.962,
                      "end": 30.201999999999998
                    },
                    {
                      "word": "book ",
                      "start": 30.201999999999998,
                      "end": 30.362
                    },
                    {
                      "word": "an ",
                      "start": 30.362,
                      "end": 30.442
                    },
                    {
                      "word": "appointment ",
                      "start": 30.442,
                      "end": 30.761999999999997
                    },
                    {
                      "word": "appointment ",
                      "start": 30.761999999999997,
                      "end": 31.082000999999998
                    },
                    {
                      "word": "for ",
                      "start": 31.082000999999998,
                      "end": 31.402001
                    },
                    {
                      "word": "that?",
                      "start": 31.402001,
                      "end": 31.561999999999998
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "I can help you book an appointment for teeth whitening. May I please have your first name? If you ",
                  "words": [
                    {
                      "word": "I ",
                      "start": 32.622,
                      "end": 32.692
                    },
                    {
                      "word": "can ",
                      "start": 32.692,
                      "end": 32.843
                    },
                    {
                      "word": "help ",
                      "start": 32.843,
                      "end": 33.005
                    },
                    {
                      "word": "you ",
                      "start": 33.005,
                      "end": 33.121
                    },
                    {
                      "word": "book ",
                      "start": 33.121,
                      "end": 33.272
                    },
                    {
                      "word": "an ",
                      "start": 33.272,
                      "end": 33.354
                    },
                    {
                      "word": "appointment ",
                      "start": 33.354,
                      "end": 33.806
                    },
                    {
                      "word": "for ",
                      "start": 33.806,
                      "end": 33.946
                    },
                    {
                      "word": "teeth ",
                      "start": 33.946,
                      "end": 34.213
                    },
                    {
                      "word": "whitening.",
                      "start": 34.213,
                      "end": 34.909
                    },
                    {
                      "word": " May ",
                      "start": 34.93245825195312,
                      "end": 35.153458251953126
                    },
                    {
                      "word": "I ",
                      "start": 35.153458251953126,
                      "end": 35.23445825195312
                    },
                    {
                      "word": "please ",
                      "start": 35.23445825195312,
                      "end": 35.47845825195313
                    },
                    {
                      "word": "have ",
                      "start": 35.47845825195313,
                      "end": 35.629458251953125
                    },
                    {
                      "word": "your ",
                      "start": 35.629458251953125,
                      "end": 35.78045825195313
                    },
                    {
                      "word": "first ",
                      "start": 35.78045825195313,
                      "end": 36.047458251953124
                    },
                    {
                      "word": "name?",
                      "start": 36.047458251953124,
                      "end": 36.58145825195312
                    },
                    {
                      "word": " If ",
                      "start": 36.604291748046876,
                      "end": 36.778291748046875
                    },
                    {
                      "word": "you ",
                      "start": 36.778291748046875,
                      "end": 36.87129174804687
                    }
                  ],
                  "metadata": {
                    "response_id": 6
                  }
                },
                {
                  "role": "user",
                  "content": "Yeah. ",
                  "words": [
                    {
                      "word": "Yeah. ",
                      "start": 37.192,
                      "end": 37.831998
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "wouldn’t mind, could you spell it ",
                  "words": [
                    {
                      "word": "wouldn’t ",
                      "start": 36.87129174804687,
                      "end": 37.208291748046875
                    },
                    {
                      "word": "mind, ",
                      "start": 37.208291748046875,
                      "end": 37.52129174804688
                    },
                    {
                      "word": "could ",
                      "start": 37.52129174804688,
                      "end": 37.70729174804688
                    },
                    {
                      "word": "you ",
                      "start": 37.70729174804688,
                      "end": 37.812291748046874
                    },
                    {
                      "word": "spell ",
                      "start": 37.812291748046874,
                      "end": 38.09029174804687
                    },
                    {
                      "word": "it ",
                      "start": 38.09029174804687,
                      "end": 38.20629174804687
                    }
                  ],
                  "metadata": {
                    "response_id": 6
                  }
                },
                {
                  "role": "user",
                  "content": "It's Okay. Yeah. It's Lakshay. L a k s h I t.",
                  "words": [
                    {
                      "word": "It's ",
                      "start": 38.071999999999996,
                      "end": 38.552
                    },
                    {
                      "word": "Okay. ",
                      "start": 39.542,
                      "end": 39.942
                    },
                    {
                      "word": "Yeah. ",
                      "start": 39.942,
                      "end": 40.101998
                    },
                    {
                      "word": "It's ",
                      "start": 40.101998,
                      "end": 40.662
                    },
                    {
                      "word": "Lakshay. ",
                      "start": 40.662,
                      "end": 41.141999999999996
                    },
                    {
                      "word": "L ",
                      "start": 41.282,
                      "end": 41.601998
                    },
                    {
                      "word": "a ",
                      "start": 41.601998,
                      "end": 41.761998
                    },
                    {
                      "word": "k ",
                      "start": 41.761998,
                      "end": 41.921997999999995
                    },
                    {
                      "word": "s ",
                      "start": 41.921997999999995,
                      "end": 42.241997
                    },
                    {
                      "word": "h ",
                      "start": 42.241997,
                      "end": 42.401997
                    },
                    {
                      "word": "I ",
                      "start": 42.401997,
                      "end": 42.561997
                    },
                    {
                      "word": "t.",
                      "start": 42.561997,
                      "end": 42.721997
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you, Lakshay. Could you please provide your last name?",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 44.087,
                      "end": 44.32
                    },
                    {
                      "word": "you, ",
                      "start": 44.32,
                      "end": 44.447
                    },
                    {
                      "word": "Lakshay.",
                      "start": 44.447,
                      "end": 45.109
                    },
                    {
                      "word": " Could ",
                      "start": 45.132125,
                      "end": 45.318125
                    },
                    {
                      "word": "you ",
                      "start": 45.318125,
                      "end": 45.422125
                    },
                    {
                      "word": "please ",
                      "start": 45.422125,
                      "end": 45.655125
                    },
                    {
                      "word": "provide ",
                      "start": 45.655125,
                      "end": 46.015125
                    },
                    {
                      "word": "your ",
                      "start": 46.015125,
                      "end": 46.177125
                    },
                    {
                      "word": "last ",
                      "start": 46.177125,
                      "end": 46.456125
                    },
                    {
                      "word": "name?",
                      "start": 46.456125,
                      "end": 46.967125
                    }
                  ],
                  "metadata": {
                    "response_id": 10
                  }
                },
                {
                  "role": "user",
                  "content": "It's Ukani.",
                  "words": [
                    {
                      "word": "It's ",
                      "start": 47.821999999999996,
                      "end": 48.222
                    },
                    {
                      "word": "Ukani.",
                      "start": 48.222,
                      "end": 48.622002
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "k a n I,",
                  "words": [
                    {
                      "word": "k ",
                      "start": 49.022,
                      "end": 49.181999999999995
                    },
                    {
                      "word": "a ",
                      "start": 49.181999999999995,
                      "end": 49.342
                    },
                    {
                      "word": "n ",
                      "start": 49.342,
                      "end": 49.501999999999995
                    },
                    {
                      "word": "I,",
                      "start": 49.501999999999995,
                      "end": 49.582
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thanks, Lakshay Ukani. What’s your preferred contact number?",
                  "words": [
                    {
                      "word": "Thanks, ",
                      "start": 52.943,
                      "end": 53.372
                    },
                    {
                      "word": "Lakshay ",
                      "start": 53.372,
                      "end": 53.837
                    },
                    {
                      "word": "Ukani.",
                      "start": 53.837,
                      "end": 54.58
                    },
                    {
                      "word": " What’s ",
                      "start": 54.591833251953126,
                      "end": 54.869833251953125
                    },
                    {
                      "word": "your ",
                      "start": 54.869833251953125,
                      "end": 55.055833251953125
                    },
                    {
                      "word": "preferred ",
                      "start": 55.055833251953125,
                      "end": 55.43883325195313
                    },
                    {
                      "word": "contact ",
                      "start": 55.43883325195313,
                      "end": 55.844833251953126
                    },
                    {
                      "word": "number?",
                      "start": 55.844833251953126,
                      "end": 56.43783325195312
                    }
                  ],
                  "metadata": {
                    "response_id": 12
                  }
                },
                {
                  "role": "user",
                  "content": "It's double nine eight seven seven four double nine five one.",
                  "words": [
                    {
                      "word": "It's ",
                      "start": 57.542,
                      "end": 57.942
                    },
                    {
                      "word": "double ",
                      "start": 57.942,
                      "end": 58.181999999999995
                    },
                    {
                      "word": "nine ",
                      "start": 58.181999999999995,
                      "end": 58.422
                    },
                    {
                      "word": "eight ",
                      "start": 58.422,
                      "end": 58.662
                    },
                    {
                      "word": "seven ",
                      "start": 58.662,
                      "end": 58.982
                    },
                    {
                      "word": "seven ",
                      "start": 58.982,
                      "end": 59.302
                    },
                    {
                      "word": "four ",
                      "start": 59.302,
                      "end": 59.542
                    },
                    {
                      "word": "double ",
                      "start": 59.542,
                      "end": 59.862
                    },
                    {
                      "word": "nine ",
                      "start": 59.862,
                      "end": 60.102
                    },
                    {
                      "word": "five ",
                      "start": 60.102,
                      "end": 60.342
                    },
                    {
                      "word": "one.",
                      "start": 60.342,
                      "end": 60.582
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Could you please share your email address, and spell it out for me?",
                  "words": [
                    {
                      "word": "Could ",
                      "start": 62.087,
                      "end": 62.262
                    },
                    {
                      "word": "you ",
                      "start": 62.262,
                      "end": 62.366
                    },
                    {
                      "word": "please ",
                      "start": 62.366,
                      "end": 62.621
                    },
                    {
                      "word": "share ",
                      "start": 62.621,
                      "end": 62.877
                    },
                    {
                      "word": "your ",
                      "start": 62.877,
                      "end": 63.039
                    },
                    {
                      "word": "email ",
                      "start": 63.039,
                      "end": 63.353
                    },
                    {
                      "word": "address, ",
                      "start": 63.353,
                      "end": 63.771
                    },
                    {
                      "word": "and ",
                      "start": 63.771,
                      "end": 64.061
                    },
                    {
                      "word": "spell ",
                      "start": 64.061,
                      "end": 64.328
                    },
                    {
                      "word": "it ",
                      "start": 64.328,
                      "end": 64.409
                    },
                    {
                      "word": "out ",
                      "start": 64.409,
                      "end": 64.584
                    },
                    {
                      "word": "for ",
                      "start": 64.584,
                      "end": 64.723
                    },
                    {
                      "word": "me?",
                      "start": 64.723,
                      "end": 65.245
                    }
                  ],
                  "metadata": {
                    "response_id": 13
                  }
                },
                {
                  "role": "user",
                  "content": "It's Lakshit l a k s h I t. At direct g mail dot com.",
                  "words": [
                    {
                      "word": "It's ",
                      "start": 66.542004,
                      "end": 66.94200000000001
                    },
                    {
                      "word": "Lakshit ",
                      "start": 66.94200000000001,
                      "end": 67.50200000000001
                    },
                    {
                      "word": "l ",
                      "start": 67.602,
                      "end": 67.92200000000001
                    },
                    {
                      "word": "a ",
                      "start": 67.92200000000001,
                      "end": 68.08200500000001
                    },
                    {
                      "word": "k ",
                      "start": 68.08200500000001,
                      "end": 68.242
                    },
                    {
                      "word": "s ",
                      "start": 68.242,
                      "end": 68.56200000000001
                    },
                    {
                      "word": "h ",
                      "start": 68.56200000000001,
                      "end": 68.72200500000001
                    },
                    {
                      "word": "I ",
                      "start": 68.72200500000001,
                      "end": 68.962
                    },
                    {
                      "word": "t. ",
                      "start": 68.962,
                      "end": 69.20200000000001
                    },
                    {
                      "word": "At ",
                      "start": 69.42200000000001,
                      "end": 69.742
                    },
                    {
                      "word": "direct ",
                      "start": 69.742,
                      "end": 69.982
                    },
                    {
                      "word": "g ",
                      "start": 69.982,
                      "end": 70.22200500000001
                    },
                    {
                      "word": "mail ",
                      "start": 70.22200500000001,
                      "end": 70.382
                    },
                    {
                      "word": "dot ",
                      "start": 70.382,
                      "end": 70.622
                    },
                    {
                      "word": "com.",
                      "start": 70.622,
                      "end": 70.78200000000001
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you for providing your details, Lakshay Ukani. Just to confirm, your contact number is 9987744951 and your email address is lakshit@directgmail.com. Is that correct?",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 72.422,
                      "end": 72.655
                    },
                    {
                      "word": "you ",
                      "start": 72.655,
                      "end": 72.771
                    },
                    {
                      "word": "for ",
                      "start": 72.771,
                      "end": 72.922
                    },
                    {
                      "word": "providing ",
                      "start": 72.922,
                      "end": 73.386
                    },
                    {
                      "word": "your ",
                      "start": 73.386,
                      "end": 73.537
                    },
                    {
                      "word": "details, ",
                      "start": 73.537,
                      "end": 74.048
                    },
                    {
                      "word": "Lakshay ",
                      "start": 74.048,
                      "end": 74.535
                    },
                    {
                      "word": "Ukani.",
                      "start": 74.535,
                      "end": 75.302
                    },
                    {
                      "word": " Just ",
                      "start": 75.34770825195312,
                      "end": 75.56870825195313
                    },
                    {
                      "word": "to ",
                      "start": 75.56870825195313,
                      "end": 75.66170825195313
                    },
                    {
                      "word": "confirm, ",
                      "start": 75.66170825195313,
                      "end": 75.99870825195312
                    },
                    {
                      "word": "your ",
                      "start": 75.99870825195312,
                      "end": 76.20770825195312
                    },
                    {
                      "word": "contact ",
                      "start": 76.20770825195312,
                      "end": 76.84570825195313
                    },
                    {
                      "word": "number ",
                      "start": 76.84570825195313,
                      "end": 77.29870825195313
                    },
                    {
                      "word": "is ",
                      "start": 77.29870825195313,
                      "end": 77.53070825195313
                    },
                    {
                      "word": "9987744951 ",
                      "start": 77.53070825195313,
                      "end": 77.86770825195312
                    },
                    {
                      "word": "and ",
                      "start": 77.86770825195312,
                      "end": 78.26270825195313
                    },
                    {
                      "word": "your ",
                      "start": 78.26270825195313,
                      "end": 78.66870825195312
                    },
                    {
                      "word": "email ",
                      "start": 78.66870825195312,
                      "end": 78.97070825195313
                    },
                    {
                      "word": "address ",
                      "start": 78.97070825195313,
                      "end": 79.24870825195312
                    },
                    {
                      "word": "is ",
                      "start": 79.24870825195312,
                      "end": 79.59770825195312
                    },
                    {
                      "word": "lakshit@directgmail.com. ",
                      "start": 79.59770825195312,
                      "end": 80.08470825195313
                    },
                    {
                      "word": "Is ",
                      "start": 85.5645,
                      "end": 85.6815
                    },
                    {
                      "word": "that ",
                      "start": 85.6815,
                      "end": 85.8785
                    },
                    {
                      "word": "correct?",
                      "start": 85.8785,
                      "end": 86.5865
                    }
                  ],
                  "metadata": {
                    "response_id": 15
                  }
                },
                {
                  "role": "user",
                  "content": "Correct. Correct.",
                  "words": [
                    {
                      "word": "Correct. ",
                      "start": 87.522,
                      "end": 87.842
                    },
                    {
                      "word": "Correct.",
                      "start": 87.842,
                      "end": 88.001996
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Great! When would you like to schedule your teeth whitening appointment? Please provide your preferred date and time.",
                  "words": [
                    {
                      "word": "Great!",
                      "start": 88.962,
                      "end": 89.542
                    },
                    {
                      "word": " When ",
                      "start": 89.55416674804688,
                      "end": 89.75116674804687
                    },
                    {
                      "word": "would ",
                      "start": 89.75116674804687,
                      "end": 89.89016674804688
                    },
                    {
                      "word": "you ",
                      "start": 89.89016674804688,
                      "end": 89.99516674804687
                    },
                    {
                      "word": "like ",
                      "start": 89.99516674804687,
                      "end": 90.15716674804688
                    },
                    {
                      "word": "to ",
                      "start": 90.15716674804688,
                      "end": 90.42416674804687
                    },
                    {
                      "word": "schedule ",
                      "start": 90.42416674804687,
                      "end": 90.81916674804687
                    },
                    {
                      "word": "your ",
                      "start": 90.81916674804687,
                      "end": 90.97016674804688
                    },
                    {
                      "word": "teeth ",
                      "start": 90.97016674804688,
                      "end": 91.22516674804687
                    },
                    {
                      "word": "whitening ",
                      "start": 91.22516674804687,
                      "end": 91.58516674804687
                    },
                    {
                      "word": "appointment?",
                      "start": 91.58516674804687,
                      "end": 92.37516674804688
                    },
                    {
                      "word": " Please ",
                      "start": 92.387,
                      "end": 92.7
                    },
                    {
                      "word": "provide ",
                      "start": 92.7,
                      "end": 93.048
                    },
                    {
                      "word": "your ",
                      "start": 93.048,
                      "end": 93.199
                    },
                    {
                      "word": "preferred ",
                      "start": 93.199,
                      "end": 93.664
                    },
                    {
                      "word": "date ",
                      "start": 93.664,
                      "end": 93.954
                    },
                    {
                      "word": "and ",
                      "start": 93.954,
                      "end": 94.093
                    },
                    {
                      "word": "time.",
                      "start": 94.093,
                      "end": 94.697
                    }
                  ],
                  "metadata": {
                    "response_id": 17
                  }
                },
                {
                  "role": "user",
                  "content": "What kind of slots are available for tomorrow?",
                  "words": [
                    {
                      "word": "What ",
                      "start": 95.352,
                      "end": 95.992
                    },
                    {
                      "word": "kind ",
                      "start": 95.992,
                      "end": 96.232
                    },
                    {
                      "word": "of ",
                      "start": 96.232,
                      "end": 96.31200000000001
                    },
                    {
                      "word": "slots ",
                      "start": 96.31200000000001,
                      "end": 96.632
                    },
                    {
                      "word": "are ",
                      "start": 96.632,
                      "end": 96.792
                    },
                    {
                      "word": "available ",
                      "start": 96.792,
                      "end": 97.03199500000001
                    },
                    {
                      "word": "for ",
                      "start": 97.03199500000001,
                      "end": 97.272
                    },
                    {
                      "word": "tomorrow?",
                      "start": 97.272,
                      "end": 97.43199600000001
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Let me ",
                  "words": [
                    {
                      "word": "Let ",
                      "start": 98.955,
                      "end": 99.141
                    },
                    {
                      "word": "me ",
                      "start": 99.141,
                      "end": 99.234
                    }
                  ],
                  "metadata": {
                    "response_id": 18
                  }
                },
                {
                  "role": "agent",
                  "content": "check the available slots for tomorrow for you.We have available slots tomorrow from 9:00 AM to 1:00 PM and from 2:00 PM to 4:00 PM. What time would you prefer within these hours?",
                  "words": [
                    {
                      "word": "check ",
                      "start": 99.234,
                      "end": 99.431
                    },
                    {
                      "word": "the ",
                      "start": 99.431,
                      "end": 99.524
                    },
                    {
                      "word": "available ",
                      "start": 99.524,
                      "end": 99.919
                    },
                    {
                      "word": "slots ",
                      "start": 99.919,
                      "end": 100.209
                    },
                    {
                      "word": "for ",
                      "start": 100.209,
                      "end": 100.348
                    },
                    {
                      "word": "tomorrow ",
                      "start": 100.348,
                      "end": 100.708
                    },
                    {
                      "word": "for ",
                      "start": 100.708,
                      "end": 100.859
                    },
                    {
                      "word": "you.",
                      "start": 100.859,
                      "end": 101.312
                    },
                    {
                      "word": "We ",
                      "start": 101.334875,
                      "end": 101.474875
                    },
                    {
                      "word": "have ",
                      "start": 101.474875,
                      "end": 101.601875
                    },
                    {
                      "word": "available ",
                      "start": 101.601875,
                      "end": 102.042875
                    },
                    {
                      "word": "slots ",
                      "start": 102.042875,
                      "end": 102.356875
                    },
                    {
                      "word": "tomorrow ",
                      "start": 102.356875,
                      "end": 102.774875
                    },
                    {
                      "word": "from ",
                      "start": 102.774875,
                      "end": 102.971875
                    },
                    {
                      "word": "9:00 ",
                      "start": 102.971875,
                      "end": 103.261875
                    },
                    {
                      "word": "AM ",
                      "start": 103.261875,
                      "end": 103.772875
                    },
                    {
                      "word": "to ",
                      "start": 103.772875,
                      "end": 104.097875
                    },
                    {
                      "word": "1:00 ",
                      "start": 104.097875,
                      "end": 104.306875
                    },
                    {
                      "word": "PM ",
                      "start": 104.306875,
                      "end": 104.690875
                    },
                    {
                      "word": "and ",
                      "start": 104.690875,
                      "end": 105.049875
                    },
                    {
                      "word": "from ",
                      "start": 105.049875,
                      "end": 105.235875
                    },
                    {
                      "word": "2:00 ",
                      "start": 105.235875,
                      "end": 105.456875
                    },
                    {
                      "word": "PM ",
                      "start": 105.456875,
                      "end": 105.700875
                    },
                    {
                      "word": "to ",
                      "start": 105.700875,
                      "end": 105.827875
                    },
                    {
                      "word": "4:00 ",
                      "start": 105.827875,
                      "end": 106.025875
                    },
                    {
                      "word": "PM.",
                      "start": 106.025875,
                      "end": 106.559875
                    },
                    {
                      "word": " What ",
                      "start": 106.58258325195312,
                      "end": 106.80358325195313
                    },
                    {
                      "word": "time ",
                      "start": 106.80358325195313,
                      "end": 106.98958325195312
                    },
                    {
                      "word": "would ",
                      "start": 106.98958325195312,
                      "end": 107.15158325195313
                    },
                    {
                      "word": "you ",
                      "start": 107.15158325195313,
                      "end": 107.25658325195313
                    },
                    {
                      "word": "prefer ",
                      "start": 107.25658325195313,
                      "end": 107.59258325195313
                    },
                    {
                      "word": "within ",
                      "start": 107.59258325195313,
                      "end": 107.88358325195313
                    },
                    {
                      "word": "these ",
                      "start": 107.88358325195313,
                      "end": 108.12658325195312
                    },
                    {
                      "word": "hours?",
                      "start": 108.12658325195312,
                      "end": 108.88158325195313
                    }
                  ],
                  "metadata": {
                    "response_id": 18
                  }
                },
                {
                  "role": "user",
                  "content": "Go for ten PM to eleven ten thirty.",
                  "words": [
                    {
                      "word": "Go ",
                      "start": 111.38199,
                      "end": 111.622
                    },
                    {
                      "word": "for ",
                      "start": 111.622,
                      "end": 111.86200000000001
                    },
                    {
                      "word": "ten ",
                      "start": 111.86200000000001,
                      "end": 112.18199600000001
                    },
                    {
                      "word": "PM ",
                      "start": 112.18199600000001,
                      "end": 112.662
                    },
                    {
                      "word": "to ",
                      "start": 112.662,
                      "end": 112.982
                    },
                    {
                      "word": "eleven ",
                      "start": 112.982,
                      "end": 113.302
                    },
                    {
                      "word": "ten ",
                      "start": 113.38199,
                      "end": 113.542
                    },
                    {
                      "word": "thirty.",
                      "start": 113.542,
                      "end": 113.78199500000001
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Our available slots for tomorrow are only between 9:00 AM to 1:00 PM and 2:00 PM to 4:00 PM. Unfortunately, 10 PM to 11:30 PM is not available. Would you like to choose a time within the available slots?",
                  "words": [
                    {
                      "word": "Our ",
                      "start": 115.383,
                      "end": 115.546
                    },
                    {
                      "word": "available ",
                      "start": 115.546,
                      "end": 115.987
                    },
                    {
                      "word": "slots ",
                      "start": 115.987,
                      "end": 116.243
                    },
                    {
                      "word": "for ",
                      "start": 116.243,
                      "end": 116.394
                    },
                    {
                      "word": "tomorrow ",
                      "start": 116.394,
                      "end": 116.765
                    },
                    {
                      "word": "are ",
                      "start": 116.765,
                      "end": 116.893
                    },
                    {
                      "word": "only ",
                      "start": 116.893,
                      "end": 117.137
                    },
                    {
                      "word": "between ",
                      "start": 117.137,
                      "end": 117.555
                    },
                    {
                      "word": "9:00 ",
                      "start": 117.555,
                      "end": 117.822
                    },
                    {
                      "word": "AM ",
                      "start": 117.822,
                      "end": 118.031
                    },
                    {
                      "word": "to ",
                      "start": 118.031,
                      "end": 118.147
                    },
                    {
                      "word": "1:00 ",
                      "start": 118.147,
                      "end": 118.309
                    },
                    {
                      "word": "PM ",
                      "start": 118.309,
                      "end": 118.565
                    },
                    {
                      "word": "and ",
                      "start": 118.565,
                      "end": 118.669
                    },
                    {
                      "word": "2:00 ",
                      "start": 118.669,
                      "end": 118.878
                    },
                    {
                      "word": "PM ",
                      "start": 118.878,
                      "end": 119.11
                    },
                    {
                      "word": "to ",
                      "start": 119.11,
                      "end": 119.238
                    },
                    {
                      "word": "4:00 ",
                      "start": 119.238,
                      "end": 119.435
                    },
                    {
                      "word": "PM.",
                      "start": 119.435,
                      "end": 119.981
                    },
                    {
                      "word": " Unfortunately, ",
                      "start": 120.027,
                      "end": 121.606
                    },
                    {
                      "word": "10 ",
                      "start": 121.606,
                      "end": 122.001
                    },
                    {
                      "word": "PM ",
                      "start": 122.001,
                      "end": 122.419
                    },
                    {
                      "word": "to ",
                      "start": 122.419,
                      "end": 122.663
                    },
                    {
                      "word": "11:30 ",
                      "start": 122.663,
                      "end": 123.139
                    },
                    {
                      "word": "PM ",
                      "start": 123.139,
                      "end": 123.522
                    },
                    {
                      "word": "is ",
                      "start": 123.522,
                      "end": 123.87
                    },
                    {
                      "word": "not ",
                      "start": 123.87,
                      "end": 124.114
                    },
                    {
                      "word": "available.",
                      "start": 124.114,
                      "end": 124.393
                    },
                    {
                      "word": " Would ",
                      "start": 125.27470825195313,
                      "end": 125.46070825195312
                    },
                    {
                      "word": "you ",
                      "start": 125.46070825195312,
                      "end": 125.57670825195312
                    },
                    {
                      "word": "like ",
                      "start": 125.57670825195312,
                      "end": 125.76270825195313
                    },
                    {
                      "word": "to ",
                      "start": 125.76270825195313,
                      "end": 125.85570825195313
                    },
                    {
                      "word": "choose ",
                      "start": 125.85570825195313,
                      "end": 126.12270825195313
                    },
                    {
                      "word": "a ",
                      "start": 126.12270825195313,
                      "end": 126.21570825195313
                    },
                    {
                      "word": "time ",
                      "start": 126.21570825195313,
                      "end": 126.49370825195312
                    },
                    {
                      "word": "within ",
                      "start": 126.49370825195312,
                      "end": 126.87770825195312
                    },
                    {
                      "word": "the ",
                      "start": 126.87770825195312,
                      "end": 126.99370825195312
                    },
                    {
                      "word": "available ",
                      "start": 126.99370825195312,
                      "end": 127.43470825195313
                    },
                    {
                      "word": "slots?",
                      "start": 127.43470825195313,
                      "end": 128.15470825195314
                    }
                  ],
                  "metadata": {
                    "response_id": 20
                  }
                },
                {
                  "role": "user",
                  "content": "Yeah. So make it, like, ten AM.",
                  "words": [
                    {
                      "word": "Yeah. ",
                      "start": 128.652,
                      "end": 128.97199999999998
                    },
                    {
                      "word": "So ",
                      "start": 128.97199999999998,
                      "end": 129.212
                    },
                    {
                      "word": "make ",
                      "start": 129.212,
                      "end": 129.37198999999998
                    },
                    {
                      "word": "it, ",
                      "start": 129.37198999999998,
                      "end": 129.612
                    },
                    {
                      "word": "like, ",
                      "start": 129.612,
                      "end": 129.772
                    },
                    {
                      "word": "ten ",
                      "start": 129.772,
                      "end": 130.01199
                    },
                    {
                      "word": "AM.",
                      "start": 130.01199,
                      "end": 130.332
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Your appointment is confirmed. You will ",
                  "words": [
                    {
                      "word": "Your ",
                      "start": 131.849,
                      "end": 132.035
                    },
                    {
                      "word": "appointment ",
                      "start": 132.035,
                      "end": 132.5
                    },
                    {
                      "word": "is ",
                      "start": 132.5,
                      "end": 132.616
                    },
                    {
                      "word": "confirmed. ",
                      "start": 132.616,
                      "end": 133.336
                    },
                    {
                      "word": "You ",
                      "start": 133.3585417480469,
                      "end": 133.50954174804687
                    },
                    {
                      "word": "will ",
                      "start": 133.50954174804687,
                      "end": 133.68354174804688
                    }
                  ],
                  "metadata": {
                    "response_id": 22
                  }
                },
                {
                  "role": "agent",
                  "content": "receive a confirmation email shortly.Is there anything else I can help you with today?",
                  "words": [
                    {
                      "word": "receive ",
                      "start": 133.68354174804688,
                      "end": 133.99754174804687
                    },
                    {
                      "word": "a ",
                      "start": 133.99754174804687,
                      "end": 134.0785417480469
                    },
                    {
                      "word": "confirmation ",
                      "start": 134.0785417480469,
                      "end": 134.71754174804687
                    },
                    {
                      "word": "email ",
                      "start": 134.71754174804687,
                      "end": 135.10054174804688
                    },
                    {
                      "word": "shortly.",
                      "start": 135.10054174804688,
                      "end": 135.84354174804687
                    },
                    {
                      "word": "Is ",
                      "start": 135.86629174804688,
                      "end": 136.07529174804688
                    },
                    {
                      "word": "there ",
                      "start": 136.07529174804688,
                      "end": 136.2612917480469
                    },
                    {
                      "word": "anything ",
                      "start": 136.2612917480469,
                      "end": 136.56329174804688
                    },
                    {
                      "word": "else ",
                      "start": 136.56329174804688,
                      "end": 136.7492917480469
                    },
                    {
                      "word": "I ",
                      "start": 136.7492917480469,
                      "end": 136.81829174804687
                    },
                    {
                      "word": "can ",
                      "start": 136.81829174804687,
                      "end": 136.98129174804689
                    },
                    {
                      "word": "help ",
                      "start": 136.98129174804689,
                      "end": 137.20129174804688
                    },
                    {
                      "word": "you ",
                      "start": 137.20129174804688,
                      "end": 137.34129174804687
                    },
                    {
                      "word": "with ",
                      "start": 137.34129174804687,
                      "end": 137.57329174804687
                    },
                    {
                      "word": "today?",
                      "start": 137.57329174804687,
                      "end": 138.21129174804688
                    }
                  ],
                  "metadata": {
                    "response_id": 22
                  }
                }
              ],
              "transcript_with_tool_calls": [
                {
                  "role": "user",
                  "content": "Hello.",
                  "words": [
                    {
                      "word": "Hello.",
                      "start": 0.9919999700000001,
                      "end": 1.312
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Hello! Thank you for calling Toothsi Clinic. How can I help you today?",
                  "words": [
                    {
                      "word": "Hello!",
                      "start": 2.18,
                      "end": 2.831
                    },
                    {
                      "word": " Thank ",
                      "start": 2.876625,
                      "end": 3.097625
                    },
                    {
                      "word": "you ",
                      "start": 3.097625,
                      "end": 3.306625
                    },
                    {
                      "word": "for ",
                      "start": 3.306625,
                      "end": 3.457625
                    },
                    {
                      "word": "calling ",
                      "start": 3.457625,
                      "end": 3.724625
                    },
                    {
                      "word": "Toothsi ",
                      "start": 3.724625,
                      "end": 4.014625
                    },
                    {
                      "word": "Clinic.",
                      "start": 4.014625,
                      "end": 4.688625
                    },
                    {
                      "word": " How ",
                      "start": 4.734208251953125,
                      "end": 4.920208251953125
                    },
                    {
                      "word": "can ",
                      "start": 4.920208251953125,
                      "end": 5.048208251953125
                    },
                    {
                      "word": "I ",
                      "start": 5.048208251953125,
                      "end": 5.106208251953125
                    },
                    {
                      "word": "help ",
                      "start": 5.106208251953125,
                      "end": 5.280208251953125
                    },
                    {
                      "word": "you ",
                      "start": 5.280208251953125,
                      "end": 5.385208251953125
                    },
                    {
                      "word": "today?",
                      "start": 5.385208251953125,
                      "end": 5.895208251953125
                    }
                  ],
                  "metadata": {
                    "response_id": 1
                  }
                },
                {
                  "role": "user",
                  "content": "I'm looking for the services which you all provide. Can you list me down?",
                  "words": [
                    {
                      "word": "I'm ",
                      "start": 7.022,
                      "end": 7.662
                    },
                    {
                      "word": "looking ",
                      "start": 7.662,
                      "end": 7.8219997
                    },
                    {
                      "word": "for ",
                      "start": 7.8219997,
                      "end": 7.982
                    },
                    {
                      "word": "the ",
                      "start": 8.252,
                      "end": 8.892
                    },
                    {
                      "word": "services ",
                      "start": 9.052,
                      "end": 9.532
                    },
                    {
                      "word": "which ",
                      "start": 9.752,
                      "end": 10.151999
                    },
                    {
                      "word": "you ",
                      "start": 10.151999,
                      "end": 10.472
                    },
                    {
                      "word": "all ",
                      "start": 10.472,
                      "end": 10.712
                    },
                    {
                      "word": "provide. ",
                      "start": 10.712,
                      "end": 11.031999
                    },
                    {
                      "word": "Can ",
                      "start": 11.031999,
                      "end": 11.191999000000001
                    },
                    {
                      "word": "you ",
                      "start": 11.191999000000001,
                      "end": 11.352
                    },
                    {
                      "word": "list ",
                      "start": 11.352,
                      "end": 11.512
                    },
                    {
                      "word": "me ",
                      "start": 11.512,
                      "end": 11.672
                    },
                    {
                      "word": "down?",
                      "start": 11.672,
                      "end": 11.831999
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Certainly! At Toothsi Clinic, we offer a range of dental services including:\n\n- Routine Check-ups and Cleanings\n- Fillings and Restorations\n- Teeth ",
                  "words": [
                    {
                      "word": "Certainly!",
                      "start": 12.623,
                      "end": 13.413
                    },
                    {
                      "word": " At ",
                      "start": 13.763,
                      "end": 14.03
                    },
                    {
                      "word": "Toothsi ",
                      "start": 14.03,
                      "end": 14.494
                    },
                    {
                      "word": "Clinic, ",
                      "start": 14.494,
                      "end": 15.202
                    },
                    {
                      "word": "we ",
                      "start": 15.202,
                      "end": 15.376
                    },
                    {
                      "word": "offer ",
                      "start": 15.376,
                      "end": 15.69
                    },
                    {
                      "word": "a ",
                      "start": 15.69,
                      "end": 15.806
                    },
                    {
                      "word": "range ",
                      "start": 15.806,
                      "end": 16.154
                    },
                    {
                      "word": "of ",
                      "start": 16.154,
                      "end": 16.305
                    },
                    {
                      "word": "dental ",
                      "start": 16.305,
                      "end": 16.7
                    },
                    {
                      "word": "services ",
                      "start": 16.7,
                      "end": 17.362
                    },
                    {
                      "word": "including:\n",
                      "start": 17.362,
                      "end": 18.499
                    },
                    {
                      "word": "\n- ",
                      "start": 18.499,
                      "end": 18.964
                    },
                    {
                      "word": "Routine ",
                      "start": 18.964,
                      "end": 19.533
                    },
                    {
                      "word": "Check-ups ",
                      "start": 19.533,
                      "end": 19.8
                    },
                    {
                      "word": "and ",
                      "start": 19.8,
                      "end": 20.775
                    },
                    {
                      "word": "Cleanings\n",
                      "start": 20.775,
                      "end": 21.228
                    },
                    {
                      "word": "- ",
                      "start": 21.228,
                      "end": 21.379
                    },
                    {
                      "word": "Fillings ",
                      "start": 21.379,
                      "end": 22.679
                    },
                    {
                      "word": "and ",
                      "start": 22.679,
                      "end": 23.051
                    },
                    {
                      "word": "Restorations\n",
                      "start": 23.051,
                      "end": 23.736
                    },
                    {
                      "word": "- ",
                      "start": 23.736,
                      "end": 24.072
                    },
                    {
                      "word": "Teeth ",
                      "start": 24.072,
                      "end": 24.537
                    }
                  ],
                  "metadata": {
                    "response_id": 2
                  }
                },
                {
                  "role": "agent",
                  "content": "Whitening and ",
                  "words": [
                    {
                      "word": "Whitening ",
                      "start": 24.537,
                      "end": 25.175
                    },
                    {
                      "word": "and ",
                      "start": 25.175,
                      "end": 25.605
                    }
                  ],
                  "metadata": {
                    "response_id": 2
                  }
                },
                {
                  "role": "user",
                  "content": "Okay. Great. Great.",
                  "words": [
                    {
                      "word": "Okay. ",
                      "start": 25.162,
                      "end": 25.642
                    },
                    {
                      "word": "Great. ",
                      "start": 25.642,
                      "end": 26.201999999999998
                    },
                    {
                      "word": "Great.",
                      "start": 26.201999999999998,
                      "end": 26.362
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "Like, I am then looking for teeth whitening.",
                  "words": [
                    {
                      "word": "Like, ",
                      "start": 26.712,
                      "end": 27.032
                    },
                    {
                      "word": "I ",
                      "start": 27.032,
                      "end": 27.272
                    },
                    {
                      "word": "am ",
                      "start": 27.272,
                      "end": 27.511999999999997
                    },
                    {
                      "word": "then ",
                      "start": 27.511999999999997,
                      "end": 27.752001
                    },
                    {
                      "word": "looking ",
                      "start": 27.752001,
                      "end": 28.072001
                    },
                    {
                      "word": "for ",
                      "start": 28.072001,
                      "end": 28.631999999999998
                    },
                    {
                      "word": "teeth ",
                      "start": 28.791999999999998,
                      "end": 29.112
                    },
                    {
                      "word": "whitening.",
                      "start": 29.112,
                      "end": 29.592
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "You book an appointment appointment for that?",
                  "words": [
                    {
                      "word": "You ",
                      "start": 29.962,
                      "end": 30.201999999999998
                    },
                    {
                      "word": "book ",
                      "start": 30.201999999999998,
                      "end": 30.362
                    },
                    {
                      "word": "an ",
                      "start": 30.362,
                      "end": 30.442
                    },
                    {
                      "word": "appointment ",
                      "start": 30.442,
                      "end": 30.761999999999997
                    },
                    {
                      "word": "appointment ",
                      "start": 30.761999999999997,
                      "end": 31.082000999999998
                    },
                    {
                      "word": "for ",
                      "start": 31.082000999999998,
                      "end": 31.402001
                    },
                    {
                      "word": "that?",
                      "start": 31.402001,
                      "end": 31.561999999999998
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "I can help you book an appointment for teeth whitening. May I please have your first name? If you ",
                  "words": [
                    {
                      "word": "I ",
                      "start": 32.622,
                      "end": 32.692
                    },
                    {
                      "word": "can ",
                      "start": 32.692,
                      "end": 32.843
                    },
                    {
                      "word": "help ",
                      "start": 32.843,
                      "end": 33.005
                    },
                    {
                      "word": "you ",
                      "start": 33.005,
                      "end": 33.121
                    },
                    {
                      "word": "book ",
                      "start": 33.121,
                      "end": 33.272
                    },
                    {
                      "word": "an ",
                      "start": 33.272,
                      "end": 33.354
                    },
                    {
                      "word": "appointment ",
                      "start": 33.354,
                      "end": 33.806
                    },
                    {
                      "word": "for ",
                      "start": 33.806,
                      "end": 33.946
                    },
                    {
                      "word": "teeth ",
                      "start": 33.946,
                      "end": 34.213
                    },
                    {
                      "word": "whitening.",
                      "start": 34.213,
                      "end": 34.909
                    },
                    {
                      "word": " May ",
                      "start": 34.93245825195312,
                      "end": 35.153458251953126
                    },
                    {
                      "word": "I ",
                      "start": 35.153458251953126,
                      "end": 35.23445825195312
                    },
                    {
                      "word": "please ",
                      "start": 35.23445825195312,
                      "end": 35.47845825195313
                    },
                    {
                      "word": "have ",
                      "start": 35.47845825195313,
                      "end": 35.629458251953125
                    },
                    {
                      "word": "your ",
                      "start": 35.629458251953125,
                      "end": 35.78045825195313
                    },
                    {
                      "word": "first ",
                      "start": 35.78045825195313,
                      "end": 36.047458251953124
                    },
                    {
                      "word": "name?",
                      "start": 36.047458251953124,
                      "end": 36.58145825195312
                    },
                    {
                      "word": " If ",
                      "start": 36.604291748046876,
                      "end": 36.778291748046875
                    },
                    {
                      "word": "you ",
                      "start": 36.778291748046875,
                      "end": 36.87129174804687
                    }
                  ],
                  "metadata": {
                    "response_id": 6
                  }
                },
                {
                  "role": "user",
                  "content": "Yeah. ",
                  "words": [
                    {
                      "word": "Yeah. ",
                      "start": 37.192,
                      "end": 37.831998
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "wouldn’t mind, could you spell it ",
                  "words": [
                    {
                      "word": "wouldn’t ",
                      "start": 36.87129174804687,
                      "end": 37.208291748046875
                    },
                    {
                      "word": "mind, ",
                      "start": 37.208291748046875,
                      "end": 37.52129174804688
                    },
                    {
                      "word": "could ",
                      "start": 37.52129174804688,
                      "end": 37.70729174804688
                    },
                    {
                      "word": "you ",
                      "start": 37.70729174804688,
                      "end": 37.812291748046874
                    },
                    {
                      "word": "spell ",
                      "start": 37.812291748046874,
                      "end": 38.09029174804687
                    },
                    {
                      "word": "it ",
                      "start": 38.09029174804687,
                      "end": 38.20629174804687
                    }
                  ],
                  "metadata": {
                    "response_id": 6
                  }
                },
                {
                  "role": "user",
                  "content": "It's Okay. Yeah. It's Lakshay. L a k s h I t.",
                  "words": [
                    {
                      "word": "It's ",
                      "start": 38.071999999999996,
                      "end": 38.552
                    },
                    {
                      "word": "Okay. ",
                      "start": 39.542,
                      "end": 39.942
                    },
                    {
                      "word": "Yeah. ",
                      "start": 39.942,
                      "end": 40.101998
                    },
                    {
                      "word": "It's ",
                      "start": 40.101998,
                      "end": 40.662
                    },
                    {
                      "word": "Lakshay. ",
                      "start": 40.662,
                      "end": 41.141999999999996
                    },
                    {
                      "word": "L ",
                      "start": 41.282,
                      "end": 41.601998
                    },
                    {
                      "word": "a ",
                      "start": 41.601998,
                      "end": 41.761998
                    },
                    {
                      "word": "k ",
                      "start": 41.761998,
                      "end": 41.921997999999995
                    },
                    {
                      "word": "s ",
                      "start": 41.921997999999995,
                      "end": 42.241997
                    },
                    {
                      "word": "h ",
                      "start": 42.241997,
                      "end": 42.401997
                    },
                    {
                      "word": "I ",
                      "start": 42.401997,
                      "end": 42.561997
                    },
                    {
                      "word": "t.",
                      "start": 42.561997,
                      "end": 42.721997
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you, Lakshay. Could you please provide your last name?",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 44.087,
                      "end": 44.32
                    },
                    {
                      "word": "you, ",
                      "start": 44.32,
                      "end": 44.447
                    },
                    {
                      "word": "Lakshay.",
                      "start": 44.447,
                      "end": 45.109
                    },
                    {
                      "word": " Could ",
                      "start": 45.132125,
                      "end": 45.318125
                    },
                    {
                      "word": "you ",
                      "start": 45.318125,
                      "end": 45.422125
                    },
                    {
                      "word": "please ",
                      "start": 45.422125,
                      "end": 45.655125
                    },
                    {
                      "word": "provide ",
                      "start": 45.655125,
                      "end": 46.015125
                    },
                    {
                      "word": "your ",
                      "start": 46.015125,
                      "end": 46.177125
                    },
                    {
                      "word": "last ",
                      "start": 46.177125,
                      "end": 46.456125
                    },
                    {
                      "word": "name?",
                      "start": 46.456125,
                      "end": 46.967125
                    }
                  ],
                  "metadata": {
                    "response_id": 10
                  }
                },
                {
                  "role": "user",
                  "content": "It's Ukani.",
                  "words": [
                    {
                      "word": "It's ",
                      "start": 47.821999999999996,
                      "end": 48.222
                    },
                    {
                      "word": "Ukani.",
                      "start": 48.222,
                      "end": 48.622002
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "k a n I,",
                  "words": [
                    {
                      "word": "k ",
                      "start": 49.022,
                      "end": 49.181999999999995
                    },
                    {
                      "word": "a ",
                      "start": 49.181999999999995,
                      "end": 49.342
                    },
                    {
                      "word": "n ",
                      "start": 49.342,
                      "end": 49.501999999999995
                    },
                    {
                      "word": "I,",
                      "start": 49.501999999999995,
                      "end": 49.582
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thanks, Lakshay Ukani. What’s your preferred contact number?",
                  "words": [
                    {
                      "word": "Thanks, ",
                      "start": 52.943,
                      "end": 53.372
                    },
                    {
                      "word": "Lakshay ",
                      "start": 53.372,
                      "end": 53.837
                    },
                    {
                      "word": "Ukani.",
                      "start": 53.837,
                      "end": 54.58
                    },
                    {
                      "word": " What’s ",
                      "start": 54.591833251953126,
                      "end": 54.869833251953125
                    },
                    {
                      "word": "your ",
                      "start": 54.869833251953125,
                      "end": 55.055833251953125
                    },
                    {
                      "word": "preferred ",
                      "start": 55.055833251953125,
                      "end": 55.43883325195313
                    },
                    {
                      "word": "contact ",
                      "start": 55.43883325195313,
                      "end": 55.844833251953126
                    },
                    {
                      "word": "number?",
                      "start": 55.844833251953126,
                      "end": 56.43783325195312
                    }
                  ],
                  "metadata": {
                    "response_id": 12
                  }
                },
                {
                  "role": "user",
                  "content": "It's double nine eight seven seven four double nine five one.",
                  "words": [
                    {
                      "word": "It's ",
                      "start": 57.542,
                      "end": 57.942
                    },
                    {
                      "word": "double ",
                      "start": 57.942,
                      "end": 58.181999999999995
                    },
                    {
                      "word": "nine ",
                      "start": 58.181999999999995,
                      "end": 58.422
                    },
                    {
                      "word": "eight ",
                      "start": 58.422,
                      "end": 58.662
                    },
                    {
                      "word": "seven ",
                      "start": 58.662,
                      "end": 58.982
                    },
                    {
                      "word": "seven ",
                      "start": 58.982,
                      "end": 59.302
                    },
                    {
                      "word": "four ",
                      "start": 59.302,
                      "end": 59.542
                    },
                    {
                      "word": "double ",
                      "start": 59.542,
                      "end": 59.862
                    },
                    {
                      "word": "nine ",
                      "start": 59.862,
                      "end": 60.102
                    },
                    {
                      "word": "five ",
                      "start": 60.102,
                      "end": 60.342
                    },
                    {
                      "word": "one.",
                      "start": 60.342,
                      "end": 60.582
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Could you please share your email address, and spell it out for me?",
                  "words": [
                    {
                      "word": "Could ",
                      "start": 62.087,
                      "end": 62.262
                    },
                    {
                      "word": "you ",
                      "start": 62.262,
                      "end": 62.366
                    },
                    {
                      "word": "please ",
                      "start": 62.366,
                      "end": 62.621
                    },
                    {
                      "word": "share ",
                      "start": 62.621,
                      "end": 62.877
                    },
                    {
                      "word": "your ",
                      "start": 62.877,
                      "end": 63.039
                    },
                    {
                      "word": "email ",
                      "start": 63.039,
                      "end": 63.353
                    },
                    {
                      "word": "address, ",
                      "start": 63.353,
                      "end": 63.771
                    },
                    {
                      "word": "and ",
                      "start": 63.771,
                      "end": 64.061
                    },
                    {
                      "word": "spell ",
                      "start": 64.061,
                      "end": 64.328
                    },
                    {
                      "word": "it ",
                      "start": 64.328,
                      "end": 64.409
                    },
                    {
                      "word": "out ",
                      "start": 64.409,
                      "end": 64.584
                    },
                    {
                      "word": "for ",
                      "start": 64.584,
                      "end": 64.723
                    },
                    {
                      "word": "me?",
                      "start": 64.723,
                      "end": 65.245
                    }
                  ],
                  "metadata": {
                    "response_id": 13
                  }
                },
                {
                  "role": "user",
                  "content": "It's Lakshit l a k s h I t. At direct g mail dot com.",
                  "words": [
                    {
                      "word": "It's ",
                      "start": 66.542004,
                      "end": 66.94200000000001
                    },
                    {
                      "word": "Lakshit ",
                      "start": 66.94200000000001,
                      "end": 67.50200000000001
                    },
                    {
                      "word": "l ",
                      "start": 67.602,
                      "end": 67.92200000000001
                    },
                    {
                      "word": "a ",
                      "start": 67.92200000000001,
                      "end": 68.08200500000001
                    },
                    {
                      "word": "k ",
                      "start": 68.08200500000001,
                      "end": 68.242
                    },
                    {
                      "word": "s ",
                      "start": 68.242,
                      "end": 68.56200000000001
                    },
                    {
                      "word": "h ",
                      "start": 68.56200000000001,
                      "end": 68.72200500000001
                    },
                    {
                      "word": "I ",
                      "start": 68.72200500000001,
                      "end": 68.962
                    },
                    {
                      "word": "t. ",
                      "start": 68.962,
                      "end": 69.20200000000001
                    },
                    {
                      "word": "At ",
                      "start": 69.42200000000001,
                      "end": 69.742
                    },
                    {
                      "word": "direct ",
                      "start": 69.742,
                      "end": 69.982
                    },
                    {
                      "word": "g ",
                      "start": 69.982,
                      "end": 70.22200500000001
                    },
                    {
                      "word": "mail ",
                      "start": 70.22200500000001,
                      "end": 70.382
                    },
                    {
                      "word": "dot ",
                      "start": 70.382,
                      "end": 70.622
                    },
                    {
                      "word": "com.",
                      "start": 70.622,
                      "end": 70.78200000000001
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Thank you for providing your details, Lakshay Ukani. Just to confirm, your contact number is 9987744951 and your email address is lakshit@directgmail.com. Is that correct?",
                  "words": [
                    {
                      "word": "Thank ",
                      "start": 72.422,
                      "end": 72.655
                    },
                    {
                      "word": "you ",
                      "start": 72.655,
                      "end": 72.771
                    },
                    {
                      "word": "for ",
                      "start": 72.771,
                      "end": 72.922
                    },
                    {
                      "word": "providing ",
                      "start": 72.922,
                      "end": 73.386
                    },
                    {
                      "word": "your ",
                      "start": 73.386,
                      "end": 73.537
                    },
                    {
                      "word": "details, ",
                      "start": 73.537,
                      "end": 74.048
                    },
                    {
                      "word": "Lakshay ",
                      "start": 74.048,
                      "end": 74.535
                    },
                    {
                      "word": "Ukani.",
                      "start": 74.535,
                      "end": 75.302
                    },
                    {
                      "word": " Just ",
                      "start": 75.34770825195312,
                      "end": 75.56870825195313
                    },
                    {
                      "word": "to ",
                      "start": 75.56870825195313,
                      "end": 75.66170825195313
                    },
                    {
                      "word": "confirm, ",
                      "start": 75.66170825195313,
                      "end": 75.99870825195312
                    },
                    {
                      "word": "your ",
                      "start": 75.99870825195312,
                      "end": 76.20770825195312
                    },
                    {
                      "word": "contact ",
                      "start": 76.20770825195312,
                      "end": 76.84570825195313
                    },
                    {
                      "word": "number ",
                      "start": 76.84570825195313,
                      "end": 77.29870825195313
                    },
                    {
                      "word": "is ",
                      "start": 77.29870825195313,
                      "end": 77.53070825195313
                    },
                    {
                      "word": "9987744951 ",
                      "start": 77.53070825195313,
                      "end": 77.86770825195312
                    },
                    {
                      "word": "and ",
                      "start": 77.86770825195312,
                      "end": 78.26270825195313
                    },
                    {
                      "word": "your ",
                      "start": 78.26270825195313,
                      "end": 78.66870825195312
                    },
                    {
                      "word": "email ",
                      "start": 78.66870825195312,
                      "end": 78.97070825195313
                    },
                    {
                      "word": "address ",
                      "start": 78.97070825195313,
                      "end": 79.24870825195312
                    },
                    {
                      "word": "is ",
                      "start": 79.24870825195312,
                      "end": 79.59770825195312
                    },
                    {
                      "word": "lakshit@directgmail.com. ",
                      "start": 79.59770825195312,
                      "end": 80.08470825195313
                    },
                    {
                      "word": "Is ",
                      "start": 85.5645,
                      "end": 85.6815
                    },
                    {
                      "word": "that ",
                      "start": 85.6815,
                      "end": 85.8785
                    },
                    {
                      "word": "correct?",
                      "start": 85.8785,
                      "end": 86.5865
                    }
                  ],
                  "metadata": {
                    "response_id": 15
                  }
                },
                {
                  "role": "user",
                  "content": "Correct. Correct.",
                  "words": [
                    {
                      "word": "Correct. ",
                      "start": 87.522,
                      "end": 87.842
                    },
                    {
                      "word": "Correct.",
                      "start": 87.842,
                      "end": 88.001996
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Great! When would you like to schedule your teeth whitening appointment? Please provide your preferred date and time.",
                  "words": [
                    {
                      "word": "Great!",
                      "start": 88.962,
                      "end": 89.542
                    },
                    {
                      "word": " When ",
                      "start": 89.55416674804688,
                      "end": 89.75116674804687
                    },
                    {
                      "word": "would ",
                      "start": 89.75116674804687,
                      "end": 89.89016674804688
                    },
                    {
                      "word": "you ",
                      "start": 89.89016674804688,
                      "end": 89.99516674804687
                    },
                    {
                      "word": "like ",
                      "start": 89.99516674804687,
                      "end": 90.15716674804688
                    },
                    {
                      "word": "to ",
                      "start": 90.15716674804688,
                      "end": 90.42416674804687
                    },
                    {
                      "word": "schedule ",
                      "start": 90.42416674804687,
                      "end": 90.81916674804687
                    },
                    {
                      "word": "your ",
                      "start": 90.81916674804687,
                      "end": 90.97016674804688
                    },
                    {
                      "word": "teeth ",
                      "start": 90.97016674804688,
                      "end": 91.22516674804687
                    },
                    {
                      "word": "whitening ",
                      "start": 91.22516674804687,
                      "end": 91.58516674804687
                    },
                    {
                      "word": "appointment?",
                      "start": 91.58516674804687,
                      "end": 92.37516674804688
                    },
                    {
                      "word": " Please ",
                      "start": 92.387,
                      "end": 92.7
                    },
                    {
                      "word": "provide ",
                      "start": 92.7,
                      "end": 93.048
                    },
                    {
                      "word": "your ",
                      "start": 93.048,
                      "end": 93.199
                    },
                    {
                      "word": "preferred ",
                      "start": 93.199,
                      "end": 93.664
                    },
                    {
                      "word": "date ",
                      "start": 93.664,
                      "end": 93.954
                    },
                    {
                      "word": "and ",
                      "start": 93.954,
                      "end": 94.093
                    },
                    {
                      "word": "time.",
                      "start": 94.093,
                      "end": 94.697
                    }
                  ],
                  "metadata": {
                    "response_id": 17
                  }
                },
                {
                  "role": "user",
                  "content": "What kind of slots are available for tomorrow?",
                  "words": [
                    {
                      "word": "What ",
                      "start": 95.352,
                      "end": 95.992
                    },
                    {
                      "word": "kind ",
                      "start": 95.992,
                      "end": 96.232
                    },
                    {
                      "word": "of ",
                      "start": 96.232,
                      "end": 96.31200000000001
                    },
                    {
                      "word": "slots ",
                      "start": 96.31200000000001,
                      "end": 96.632
                    },
                    {
                      "word": "are ",
                      "start": 96.632,
                      "end": 96.792
                    },
                    {
                      "word": "available ",
                      "start": 96.792,
                      "end": 97.03199500000001
                    },
                    {
                      "word": "for ",
                      "start": 97.03199500000001,
                      "end": 97.272
                    },
                    {
                      "word": "tomorrow?",
                      "start": 97.272,
                      "end": 97.43199600000001
                    }
                  ]
                },
                {
                  "role": "tool_call_invocation",
                  "tool_call_id": "8a9020018dae7980",
                  "name": "check_availability_cal",
                  "arguments": "{\"start_time\":\"tomorrow 12:00 AM\",\"end_time\":\"tomorrow 11:59 PM\",\"execution_message\":\"Let me check the available slots for tomorrow for you.\"}"
                },
                {
                  "role": "agent",
                  "content": "Let me ",
                  "words": [
                    {
                      "word": "Let ",
                      "start": 98.955,
                      "end": 99.141
                    },
                    {
                      "word": "me ",
                      "start": 99.141,
                      "end": 99.234
                    }
                  ],
                  "metadata": {
                    "response_id": 18
                  }
                },
                {
                  "role": "tool_call_result",
                  "tool_call_id": "8a9020018dae7980",
                  "content": "{\"availability_for_selected_time\":[{\"date\":\"Monday, 2025 July 7/14/2025 India Standard Time\",\"availability_range\":[\"From 9:00 AM to 1:00 PM\",\"From 2:00 PM to 4:00 PM\"]}]}"
                },
                {
                  "role": "agent",
                  "content": "check the available slots for tomorrow for you.We have available slots tomorrow from 9:00 AM to 1:00 PM and from 2:00 PM to 4:00 PM. What time would you prefer within these hours?",
                  "words": [
                    {
                      "word": "check ",
                      "start": 99.234,
                      "end": 99.431
                    },
                    {
                      "word": "the ",
                      "start": 99.431,
                      "end": 99.524
                    },
                    {
                      "word": "available ",
                      "start": 99.524,
                      "end": 99.919
                    },
                    {
                      "word": "slots ",
                      "start": 99.919,
                      "end": 100.209
                    },
                    {
                      "word": "for ",
                      "start": 100.209,
                      "end": 100.348
                    },
                    {
                      "word": "tomorrow ",
                      "start": 100.348,
                      "end": 100.708
                    },
                    {
                      "word": "for ",
                      "start": 100.708,
                      "end": 100.859
                    },
                    {
                      "word": "you.",
                      "start": 100.859,
                      "end": 101.312
                    },
                    {
                      "word": "We ",
                      "start": 101.334875,
                      "end": 101.474875
                    },
                    {
                      "word": "have ",
                      "start": 101.474875,
                      "end": 101.601875
                    },
                    {
                      "word": "available ",
                      "start": 101.601875,
                      "end": 102.042875
                    },
                    {
                      "word": "slots ",
                      "start": 102.042875,
                      "end": 102.356875
                    },
                    {
                      "word": "tomorrow ",
                      "start": 102.356875,
                      "end": 102.774875
                    },
                    {
                      "word": "from ",
                      "start": 102.774875,
                      "end": 102.971875
                    },
                    {
                      "word": "9:00 ",
                      "start": 102.971875,
                      "end": 103.261875
                    },
                    {
                      "word": "AM ",
                      "start": 103.261875,
                      "end": 103.772875
                    },
                    {
                      "word": "to ",
                      "start": 103.772875,
                      "end": 104.097875
                    },
                    {
                      "word": "1:00 ",
                      "start": 104.097875,
                      "end": 104.306875
                    },
                    {
                      "word": "PM ",
                      "start": 104.306875,
                      "end": 104.690875
                    },
                    {
                      "word": "and ",
                      "start": 104.690875,
                      "end": 105.049875
                    },
                    {
                      "word": "from ",
                      "start": 105.049875,
                      "end": 105.235875
                    },
                    {
                      "word": "2:00 ",
                      "start": 105.235875,
                      "end": 105.456875
                    },
                    {
                      "word": "PM ",
                      "start": 105.456875,
                      "end": 105.700875
                    },
                    {
                      "word": "to ",
                      "start": 105.700875,
                      "end": 105.827875
                    },
                    {
                      "word": "4:00 ",
                      "start": 105.827875,
                      "end": 106.025875
                    },
                    {
                      "word": "PM.",
                      "start": 106.025875,
                      "end": 106.559875
                    },
                    {
                      "word": " What ",
                      "start": 106.58258325195312,
                      "end": 106.80358325195313
                    },
                    {
                      "word": "time ",
                      "start": 106.80358325195313,
                      "end": 106.98958325195312
                    },
                    {
                      "word": "would ",
                      "start": 106.98958325195312,
                      "end": 107.15158325195313
                    },
                    {
                      "word": "you ",
                      "start": 107.15158325195313,
                      "end": 107.25658325195313
                    },
                    {
                      "word": "prefer ",
                      "start": 107.25658325195313,
                      "end": 107.59258325195313
                    },
                    {
                      "word": "within ",
                      "start": 107.59258325195313,
                      "end": 107.88358325195313
                    },
                    {
                      "word": "these ",
                      "start": 107.88358325195313,
                      "end": 108.12658325195312
                    },
                    {
                      "word": "hours?",
                      "start": 108.12658325195312,
                      "end": 108.88158325195313
                    }
                  ],
                  "metadata": {
                    "response_id": 18
                  }
                },
                {
                  "role": "user",
                  "content": "Go for ten PM to eleven ten thirty.",
                  "words": [
                    {
                      "word": "Go ",
                      "start": 111.38199,
                      "end": 111.622
                    },
                    {
                      "word": "for ",
                      "start": 111.622,
                      "end": 111.86200000000001
                    },
                    {
                      "word": "ten ",
                      "start": 111.86200000000001,
                      "end": 112.18199600000001
                    },
                    {
                      "word": "PM ",
                      "start": 112.18199600000001,
                      "end": 112.662
                    },
                    {
                      "word": "to ",
                      "start": 112.662,
                      "end": 112.982
                    },
                    {
                      "word": "eleven ",
                      "start": 112.982,
                      "end": 113.302
                    },
                    {
                      "word": "ten ",
                      "start": 113.38199,
                      "end": 113.542
                    },
                    {
                      "word": "thirty.",
                      "start": 113.542,
                      "end": 113.78199500000001
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "Our available slots for tomorrow are only between 9:00 AM to 1:00 PM and 2:00 PM to 4:00 PM. Unfortunately, 10 PM to 11:30 PM is not available. Would you like to choose a time within the available slots?",
                  "words": [
                    {
                      "word": "Our ",
                      "start": 115.383,
                      "end": 115.546
                    },
                    {
                      "word": "available ",
                      "start": 115.546,
                      "end": 115.987
                    },
                    {
                      "word": "slots ",
                      "start": 115.987,
                      "end": 116.243
                    },
                    {
                      "word": "for ",
                      "start": 116.243,
                      "end": 116.394
                    },
                    {
                      "word": "tomorrow ",
                      "start": 116.394,
                      "end": 116.765
                    },
                    {
                      "word": "are ",
                      "start": 116.765,
                      "end": 116.893
                    },
                    {
                      "word": "only ",
                      "start": 116.893,
                      "end": 117.137
                    },
                    {
                      "word": "between ",
                      "start": 117.137,
                      "end": 117.555
                    },
                    {
                      "word": "9:00 ",
                      "start": 117.555,
                      "end": 117.822
                    },
                    {
                      "word": "AM ",
                      "start": 117.822,
                      "end": 118.031
                    },
                    {
                      "word": "to ",
                      "start": 118.031,
                      "end": 118.147
                    },
                    {
                      "word": "1:00 ",
                      "start": 118.147,
                      "end": 118.309
                    },
                    {
                      "word": "PM ",
                      "start": 118.309,
                      "end": 118.565
                    },
                    {
                      "word": "and ",
                      "start": 118.565,
                      "end": 118.669
                    },
                    {
                      "word": "2:00 ",
                      "start": 118.669,
                      "end": 118.878
                    },
                    {
                      "word": "PM ",
                      "start": 118.878,
                      "end": 119.11
                    },
                    {
                      "word": "to ",
                      "start": 119.11,
                      "end": 119.238
                    },
                    {
                      "word": "4:00 ",
                      "start": 119.238,
                      "end": 119.435
                    },
                    {
                      "word": "PM.",
                      "start": 119.435,
                      "end": 119.981
                    },
                    {
                      "word": " Unfortunately, ",
                      "start": 120.027,
                      "end": 121.606
                    },
                    {
                      "word": "10 ",
                      "start": 121.606,
                      "end": 122.001
                    },
                    {
                      "word": "PM ",
                      "start": 122.001,
                      "end": 122.419
                    },
                    {
                      "word": "to ",
                      "start": 122.419,
                      "end": 122.663
                    },
                    {
                      "word": "11:30 ",
                      "start": 122.663,
                      "end": 123.139
                    },
                    {
                      "word": "PM ",
                      "start": 123.139,
                      "end": 123.522
                    },
                    {
                      "word": "is ",
                      "start": 123.522,
                      "end": 123.87
                    },
                    {
                      "word": "not ",
                      "start": 123.87,
                      "end": 124.114
                    },
                    {
                      "word": "available.",
                      "start": 124.114,
                      "end": 124.393
                    },
                    {
                      "word": " Would ",
                      "start": 125.27470825195313,
                      "end": 125.46070825195312
                    },
                    {
                      "word": "you ",
                      "start": 125.46070825195312,
                      "end": 125.57670825195312
                    },
                    {
                      "word": "like ",
                      "start": 125.57670825195312,
                      "end": 125.76270825195313
                    },
                    {
                      "word": "to ",
                      "start": 125.76270825195313,
                      "end": 125.85570825195313
                    },
                    {
                      "word": "choose ",
                      "start": 125.85570825195313,
                      "end": 126.12270825195313
                    },
                    {
                      "word": "a ",
                      "start": 126.12270825195313,
                      "end": 126.21570825195313
                    },
                    {
                      "word": "time ",
                      "start": 126.21570825195313,
                      "end": 126.49370825195312
                    },
                    {
                      "word": "within ",
                      "start": 126.49370825195312,
                      "end": 126.87770825195312
                    },
                    {
                      "word": "the ",
                      "start": 126.87770825195312,
                      "end": 126.99370825195312
                    },
                    {
                      "word": "available ",
                      "start": 126.99370825195312,
                      "end": 127.43470825195313
                    },
                    {
                      "word": "slots?",
                      "start": 127.43470825195313,
                      "end": 128.15470825195314
                    }
                  ],
                  "metadata": {
                    "response_id": 20
                  }
                },
                {
                  "role": "user",
                  "content": "Yeah. So make it, like, ten AM.",
                  "words": [
                    {
                      "word": "Yeah. ",
                      "start": 128.652,
                      "end": 128.97199999999998
                    },
                    {
                      "word": "So ",
                      "start": 128.97199999999998,
                      "end": 129.212
                    },
                    {
                      "word": "make ",
                      "start": 129.212,
                      "end": 129.37198999999998
                    },
                    {
                      "word": "it, ",
                      "start": 129.37198999999998,
                      "end": 129.612
                    },
                    {
                      "word": "like, ",
                      "start": 129.612,
                      "end": 129.772
                    },
                    {
                      "word": "ten ",
                      "start": 129.772,
                      "end": 130.01199
                    },
                    {
                      "word": "AM.",
                      "start": 130.01199,
                      "end": 130.332
                    }
                  ]
                },
                {
                  "role": "tool_call_invocation",
                  "tool_call_id": "7a0cce0e3b052c9a",
                  "name": "book_appointment_cal",
                  "arguments": "{\"time\":\"tomorrow 10 AM\",\"name\":\"Lakshay Ukani\",\"email\":\"lakshit@directgmail.com\",\"execution_message\":\"Your appointment is confirmed. You will receive a confirmation email shortly.\"}"
                },
                {
                  "role": "agent",
                  "content": "Your appointment is confirmed. You will ",
                  "words": [
                    {
                      "word": "Your ",
                      "start": 131.849,
                      "end": 132.035
                    },
                    {
                      "word": "appointment ",
                      "start": 132.035,
                      "end": 132.5
                    },
                    {
                      "word": "is ",
                      "start": 132.5,
                      "end": 132.616
                    },
                    {
                      "word": "confirmed. ",
                      "start": 132.616,
                      "end": 133.336
                    },
                    {
                      "word": "You ",
                      "start": 133.3585417480469,
                      "end": 133.50954174804687
                    },
                    {
                      "word": "will ",
                      "start": 133.50954174804687,
                      "end": 133.68354174804688
                    }
                  ],
                  "metadata": {
                    "response_id": 22
                  }
                },
                {
                  "role": "tool_call_result",
                  "tool_call_id": "7a0cce0e3b052c9a",
                  "content": "{\"status\":\"Successfully booked an appointment.\",\"booking_id\":9238131,\"booking_uid\":\"qhJB7tnMBJwnPJLRgHyTr9\"}"
                },
                {
                  "role": "agent",
                  "content": "receive a confirmation email shortly.Is there anything else I can help you with today?",
                  "words": [
                    {
                      "word": "receive ",
                      "start": 133.68354174804688,
                      "end": 133.99754174804687
                    },
                    {
                      "word": "a ",
                      "start": 133.99754174804687,
                      "end": 134.0785417480469
                    },
                    {
                      "word": "confirmation ",
                      "start": 134.0785417480469,
                      "end": 134.71754174804687
                    },
                    {
                      "word": "email ",
                      "start": 134.71754174804687,
                      "end": 135.10054174804688
                    },
                    {
                      "word": "shortly.",
                      "start": 135.10054174804688,
                      "end": 135.84354174804687
                    },
                    {
                      "word": "Is ",
                      "start": 135.86629174804688,
                      "end": 136.07529174804688
                    },
                    {
                      "word": "there ",
                      "start": 136.07529174804688,
                      "end": 136.2612917480469
                    },
                    {
                      "word": "anything ",
                      "start": 136.2612917480469,
                      "end": 136.56329174804688
                    },
                    {
                      "word": "else ",
                      "start": 136.56329174804688,
                      "end": 136.7492917480469
                    },
                    {
                      "word": "I ",
                      "start": 136.7492917480469,
                      "end": 136.81829174804687
                    },
                    {
                      "word": "can ",
                      "start": 136.81829174804687,
                      "end": 136.98129174804689
                    },
                    {
                      "word": "help ",
                      "start": 136.98129174804689,
                      "end": 137.20129174804688
                    },
                    {
                      "word": "you ",
                      "start": 137.20129174804688,
                      "end": 137.34129174804687
                    },
                    {
                      "word": "with ",
                      "start": 137.34129174804687,
                      "end": 137.57329174804687
                    },
                    {
                      "word": "today?",
                      "start": 137.57329174804687,
                      "end": 138.21129174804688
                    }
                  ],
                  "metadata": {
                    "response_id": 22
                  }
                },
                {
                  "role": "tool_call_invocation",
                  "tool_call_id": "4ec3013d977ffc95",
                  "name": "end_call",
                  "arguments": "{\"execution_message\":\"Is there anything else I can help you with today?\"}"
                }
              ],
              "recording_url": "https://dxc03zgurdly9.cloudfront.net/6bf63e8ea153d8e8014bc1eca9b9074032807452e8fc934a0f00c63cc0532a55/recording.wav",
              "public_log_url": "https://dxc03zgurdly9.cloudfront.net/6bf63e8ea153d8e8014bc1eca9b9074032807452e8fc934a0f00c63cc0532a55/public.log",
              "disconnection_reason": "agent_hangup",
              "latency": {
                "llm": {
                  "p50": 480.5,
                  "p90": 878.4000000000001,
                  "p95": 988.9,
                  "p99": 1020.18,
                  "min": 345,
                  "max": 1028,
                  "num": 18,
                  "values": [
                    345,
                    390,
                    516,
                    392,
                    393,
                    423,
                    486,
                    428,
                    556,
                    434,
                    396,
                    1028,
                    475,
                    834,
                    678,
                    607,
                    558,
                    982
                  ]
                },
                "e2e": {
                  "p50": 1319.0029296875,
                  "p90": 1586.2009765625,
                  "p95": 2286.7999999999975,
                  "p99": 3118.159999999998,
                  "min": 171,
                  "max": 3326,
                  "num": 13,
                  "values": [
                    822,
                    745.0009765625,
                    447,
                    171,
                    979,
                    1319.0029296875,
                    3326,
                    1459,
                    1594,
                    890.00390625,
                    1465.00390625,
                    1555.0048828125,
                    1471
                  ]
                },
                "tts": {
                  "p50": 358,
                  "p90": 462.2,
                  "p95": 490.64999999999975,
                  "p99": 606.9299999999997,
                  "min": 271,
                  "max": 636,
                  "num": 18,
                  "values": [
                    282,
                    271,
                    402,
                    304,
                    414,
                    326,
                    369,
                    373,
                    334,
                    414,
                    309,
                    347,
                    303,
                    406,
                    461,
                    465,
                    636,
                    292
                  ]
                }
              },
              "call_cost": {
                "total_duration_unit_price": 0.1566667,
                "product_costs": [
                  {
                    "product": "elevenlabs_tts",
                    "unit_price": 0.1166667,
                    "cost": 16.2166667
                  },
                  {
                    "product": "gpt_4_1_mini_high_priority",
                    "unit_price": 0.04,
                    "cost": 5.56
                  }
                ],
                "combined_cost": 21.7766667,
                "total_duration_seconds": 139
              },
              "call_analysis": {
                "call_summary": "The user, Lakshay Ukani, called Toothsi Clinic to inquire about their services and specifically requested to book an appointment for teeth whitening. The agent successfully gathered the user's details and confirmed an appointment for 10 AM the following day, assuring the user that a confirmation email would be sent shortly.",
                "in_voicemail": false,
                "user_sentiment": "Positive",
                "call_successful": true,
                "custom_analysis_data": {}
              },
              "opt_out_sensitive_data_storage": false,
              "opt_in_signed_url": false,
              "llm_token_usage": {
                "values": [
                  1321,
                  1360,
                  1406,
                  1408,
                  1421,
                  1432,
                  1474,
                  1478,
                  1486,
                  1486,
                  1510,
                  1518,
                  1550,
                  1582,
                  1589,
                  1638,
                  1640,
                  1676,
                  1817,
                  1868,
                  1872,
                  1939,
                  1948,
                  2080
                ],
                "average": 1604.125,
                "num_requests": 24
              },
              "access_token": "eyJhbGciOiJIUzI1NiJ9.eyJ2aWRlbyI6eyJyb29tSm9pbiI6dHJ1ZSwicm9vbSI6IndlYl9jYWxsX2NlYjliOTc3YjE0Y2QwNGZkNWVkZDAyNDM4MiJ9LCJpc3MiOiJBUElqWGZBMzVHTmM3WHgiLCJleHAiOjE3NTI0MzA0NzMsIm5iZiI6MCwic3ViIjoiY2xpZW50In0.0EMqXnG2d5yGybWS-ML7twcXJNcQB51ELmr1biTVKYA"
            }
          },
          "webhookUrl": "https://lakshit1996.app.n8n.cloud/webhook/inbound",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Call Analysed ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Call Analysed ": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "68a7ac3f-8235-4820-b539-6f9a84e3d566",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "353ac65d120d2007b8a1503e85a96651a9b2cbb94b0334693ebac2129fa6a7ee"
  },
  "id": "Dt6Cj0zqSwjsfzoa",
  "tags": []
}