Linkedin scraping.json
{
  "name": "Linkedin scraping",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const limit = $vars.JOB_LIMIT || 50;\nconst keywords = $vars.KEYWORDS || 'developer';\nconst location = $vars.TARGET_COUNTRY === 'AE' ? 'UAE' : '';\n\nreturn [{\n  json: { limit, keywords, location }\n}];"
      },
      "id": "00a5db14-0c0a-456c-9592-45e4fd67d413",
      "name": "Set Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        832
      ]
    },
    {
      "parameters": {
        "agentId": "4801794168603321",
        "jsonParameters": "={{ true }}",
        "additionalFields": {
          "argumentsUi": {
            "argumentValues": [
              {
                "key": "=={{ {\n  \"sessionCookie\": \"AQEDAV_hudEFizqQAAABmju1sN8AAAGaX8I031YAJaxG3NLnJJzSaD_dUrxw2uF954w31z2bh5rSO-KhWmpAzT50XZ456nCxttOIaU0e2aiwh3YBpxeMJXHb8N3_vELruxMPOPTN9eU8HWhoEz7x_JYR\",\n  \"userAgent\": \"4801794168603321\",  // optional\n  \"keywords\": $node[\"Set Config\"].json.keywords,\n  \"location\": $node[\"Set Config\"].json.location,\n  \"limit\": $node[\"Set Config\"].json.limit\n} }}"
              }
            ]
          }
        }
      },
      "id": "7f94be9f-0570-451a-93e4-a859a83ae015",
      "name": "Launch Phantombuster Phantom",
      "type": "n8n-nodes-base.phantombuster",
      "typeVersion": 1,
      "position": [
        -1040,
        832
      ],
      "credentials": {
        "phantombusterApi": {
          "id": "XrnbnSPybs8uO8FQ",
          "name": "Phantombuster account"
        }
      }
    },
    {
      "parameters": {
        "amount": 300,
        "unit": "seconds"
      },
      "id": "5340fd38-afc8-4fc6-aea8-13045d548ba6",
      "name": "Wait for Scrape",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -816,
        832
      ],
      "webhookId": "ac9b623f-b533-49de-8180-cc129d40a734"
    },
    {
      "parameters": {
        "operation": "getOutput",
        "agentId": "4801794168603321",
        "additionalFields": {}
      },
      "id": "e3743129-d525-443e-9b3d-97eeaa70902d",
      "name": "Get Phantom Results",
      "type": "n8n-nodes-base.phantombuster",
      "typeVersion": 1,
      "position": [
        -560,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst emailRegex = /([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/gi;\n\nfunction extractEmail(text) {\n  if (!text) return 'N/A';\n  const matches = text.toString().match(emailRegex);\n  return matches ? matches[0] : 'N/A';\n}\n\n// Ambil data dari PhantomBuster output\nlet profiles = [];\n\nif (Array.isArray(items) && items.length > 1) {\n  profiles = items.map(i => i.json);\n} else if (items.length === 1) {\n  const payload = items[0].json;\n  const candidates = [\n    payload,\n    payload.output,\n    payload.resultObject,\n    payload.result,\n    payload.data\n  ];\n\n  for (const c of candidates) {\n    if (Array.isArray(c)) { profiles = c; break; }\n    if (c && typeof c === 'object') {\n      if (Array.isArray(c.data)) { profiles = c.data; break; }\n      if (Array.isArray(c.result)) { profiles = c.result; break; }\n      if (Array.isArray(c.resultObject)) { profiles = c.resultObject; break; }\n    }\n  }\n\n  if (profiles.length === 0 && payload && typeof payload === 'object') {\n    profiles = [payload];\n  }\n}\n\nif (!profiles || profiles.length === 0) {\n  return [{ json: { error: 'No LinkedIn profile data found in PhantomBuster output.' } }];\n}\n\nreturn profiles.map(profile => {\n  const contactText = (profile.additionalInfo || profile.description || '').toString();\n  const email = extractEmail(contactText);\n  const key = `${profile.profileUrl || ''}|${profile.fullName || ''}|${profile.company || ''}`;\n  const unique_id = crypto.createHash('sha256').update(key).digest('hex');\n\n  return {\n    json: {\n      // === URUTAN SESUAI HEADER + tambahan email/meta ===\n      profileUrl: profile.profileUrl || 'N/A',\n      fullName: profile.fullName || 'N/A',\n      firstName: profile.firstName || 'N/A',\n      lastName: profile.lastName || 'N/A',\n      headline: profile.headline || 'N/A',\n      additionalInfo: profile.additionalInfo || 'N/A',\n      location: profile.location || 'N/A',\n      connectionDegree: profile.connectionDegree || 'N/A',\n      profileImageUrl: profile.profileImageUrl || 'N/A',\n      vmid: profile.vmid || 'N/A',\n      query: profile.query || 'N/A',\n      category: profile.category || 'N/A',\n      timestamp: profile.timestamp || 'N/A',\n      sharedConnections: profile.sharedConnections || 'N/A',\n      company: profile.company || 'N/A',\n      companyUrl: profile.companyUrl || 'N/A',\n      companySlug: profile.companySlug || 'N/A',\n      companyId: profile.companyId || 'N/A',\n      industry: profile.industry || 'N/A',\n      company2: profile.company2 || 'N/A',\n      companyUrl2: profile.companyUrl2 || 'N/A',\n      jobTitle: profile.jobTitle || 'N/A',\n      jobDateRange: profile.jobDateRange || 'N/A',\n      jobTitle2: profile.jobTitle2 || 'N/A',\n      jobDateRange2: profile.jobDateRange2 || 'N/A',\n      school: profile.school || 'N/A',\n      schoolDegree: profile.schoolDegree || 'N/A',\n      schoolDateRange: profile.schoolDateRange || 'N/A',\n      school2: profile.school2 || 'N/A',\n      schoolDegree2: profile.schoolDegree2 || 'N/A',\n      schoolDateRange2: profile.schoolDateRange2 || 'N/A',\n      searchAccountFullName: profile.searchAccountFullName || 'N/A',\n      searchAccountProfileId: profile.searchAccountProfileId || 'N/A',\n\n      // tambahan email / meta biar sheet lengkap\n      contactInfo: profile.contactInfo || contactText || 'N/A',\n      email: email,\n      metaTitle: `LinkedIn Profile: ${profile.fullName || 'Unknown'} (${profile.headline || 'N/A'})`,\n      metaDescription: `${(profile.headline || '').substring(0, 157)}...`,\n      unique_id: unique_id,\n      scrapedDate: new Date().toISOString()\n    }\n  };\n});\n"
      },
      "id": "dd3ac5ac-1c80-4385-ab4a-1b26d1506e41",
      "name": "Parse CSV, Email & Hash ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        832
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1M5x3A3pnHMvfHE_ppnO_hl4888A9c5S5RogVCGcOsOM",
          "mode": "list",
          "cachedResultName": "Linkedin1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M5x3A3pnHMvfHE_ppnO_hl4888A9c5S5RogVCGcOsOM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1687734993,
          "mode": "list",
          "cachedResultName": "Scrapping (1)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M5x3A3pnHMvfHE_ppnO_hl4888A9c5S5RogVCGcOsOM/edit#gid=1687734993"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "profileUrl",
              "displayName": "profileUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "additionalInfo",
              "displayName": "additionalInfo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "connectionDegree",
              "displayName": "connectionDegree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profileImageUrl",
              "displayName": "profileImageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vmid",
              "displayName": "vmid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sharedConnections",
              "displayName": "sharedConnections",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyUrl",
              "displayName": "companyUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companySlug",
              "displayName": "companySlug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyId",
              "displayName": "companyId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company2",
              "displayName": "company2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyUrl2",
              "displayName": "companyUrl2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "jobTitle",
              "displayName": "jobTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "jobDateRange",
              "displayName": "jobDateRange",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "jobTitle2",
              "displayName": "jobTitle2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "jobDateRange2",
              "displayName": "jobDateRange2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "school",
              "displayName": "school",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "schoolDegree",
              "displayName": "schoolDegree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "schoolDateRange",
              "displayName": "schoolDateRange",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "school2",
              "displayName": "school2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "schoolDegree2",
              "displayName": "schoolDegree2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "schoolDateRange2",
              "displayName": "schoolDateRange2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "searchAccountFullName",
              "displayName": "searchAccountFullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "searchAccountProfileId",
              "displayName": "searchAccountProfileId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5b7cd12b-8ae7-4f6c-802c-cae89ebb5d9c",
      "name": "Search Duplicate",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -16,
        816
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1440,
        832
      ],
      "id": "481e4c3a-ce64-4b94-8e98-e59fc5e95da2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "\n    tutorial: `📘 **LinkedIn Jobs → Google Sheets Automation Guide**\n\n### ⚙️ STEP 1 — Setup API Phantombuster\n1. Buka [https://phantombuster.com](https://phantombuster.com) → Login.\n2. Klik profil kanan atas → *API Key* → Copy API key.\n3. Di n8n, buka menu ⚙️ → *Credentials* → Add new credential → pilih **Phantombuster API**.\n4. Masukkan API Key dari langkah 2 → Save.\n5. Tes koneksi. Kalau ✅ berarti berhasil.\n\n### 🔗 STEP 2 — Hubungkan Google Sheets\n1. Pastikan sheet target sudah punya header (nama kolom).\n2. Di Credentials → Add new credential → pilih **Google Sheets OAuth2**.\n3. Login akun Google → pilih *Allow*.\n\n### 🧠 STEP 3 — Konfigurasi Workflow\nNode utama:\n- **Set Config** → Nentuin keyword dan limit job (misal 'developer', 50 job max).\n- **Phantombuster Launch** → Jalankan Phantom LinkedIn.\n- **Wait for Scrape** → Tunggu proses selesai (default: 5 menit).\n- **Get Phantom Results** → Ambil hasil scrape dari Phantombuster.\n- **Parse CSV, Email & Hash ID** → Ubah data mentah jadi format rapi, lengkap sama email & hash unik.\n- **Search Duplicate / Append New Job** → Simpan hasil baru ke Google Sheets tanpa duplikasi.\n\n### 🚀 STEP 4 — Jalankan\n- Klik **Execute Workflow** di atas kiri.\n- Tunggu sekitar 5 menit.\n- Lihat hasil di Google Sheet (tab *Scrapping (1)*).\n\n### 💡 Tips\n- Bisa ubah delay di node *Wait for Scrape* kalau Phantom-nya cepat.\n- Kalau mau pakai form input otomatis, aktifkan node *On Form Submission* dan deploy webhook.\n- Untuk testing manual, node *Manual Trigger* bisa langsung jalanin semua flow.\n\n\n",
        "height": 1024,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2176,
        304
      ],
      "id": "99c84485-c432-4800-86c6-5b6740dd7fb6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        2112,
        1312
      ],
      "id": "9edaa25c-b063-48eb-93a3-9efdd0474db8",
      "name": "💬 Chat Input Trigger",
      "webhookId": "7032f2de-08a3-4c78-b6c7-21799ffb6846"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an instruction parser for an AI lead scraping system. Parse the user request and extract structured information.\nRules:\n1. Platform Detection\nLook for platform mention in user query. If no platform is mentioned, default to \"LinkedIn\".\n2. Role Extraction\nExtract job titles, skills, or professional categories. Include variations and synonyms:\n\n\"AI engineer\" OR \"ML engineer\" OR \"Machine Learning engineer\"\n\"founder\" OR \"CEO\" OR \"co-founder\"\n\"developer\" OR \"software engineer\" OR \"programmer\"\n\"data scientist\" OR \"data analyst\" OR \"ML researcher\"\n\n3. Lead Count\nExtract numbers mentioned in phrases like:\n\n\"20 leads\", \"find 50\", \"at least 30\", \"I want 25\"\nIf not specified, default to 10\n\n4. Filters\nExtract constraints and qualifiers including:\nCompany Type:\n\n\"startup\", \"enterprise\", \"funded company\", \"series A\", \"series B\", \"YC company\", \"unicorn\"\n\"small company\", \"large corporation\", \"Fortune 500\"\n\nExperience Level:\n\n\"senior\", \"junior\", \"mid-level\", \"entry-level\"\n\"5+ years\", \"10+ years experience\", \"recent graduate\"\n\"lead\", \"principal\", \"staff\", \"director level\"\n\nContact Information:\n\n\"email available\", \"LinkedIn profile\", \"phone number\", \"contact details\"\n\nIndustry Specific:\n\n\"fintech\", \"healthcare\", \"SaaS\", \"e-commerce\", \"edtech\", \"blockchain\"\n\"AI/ML\", \"cybersecurity\", \"biotech\", \"cleantech\"\n\nCompany Size:\n\n\"team of 10-50\", \"500+ employees\", \"small team\", \"large organization\"\n\nFunding Status:\n\n\"recently funded\", \"profitable\", \"bootstrap\", \"venture backed\"\n\"raised funding\", \"IPO\", \"acquired\"\n\n5. Location\nExtract geographic information:\n\nCities: \"San Francisco\", \"New York\", \"Mumbai\", \"London\"\nStates/Regions: \"California\", \"Texas\", \"Maharashtra\"\nCountries: \"United States\", \"India\", \"United Kingdom\"\nRemote preferences: \"remote\", \"remote-first\", \"distributed team\"\nMultiple locations: \"SF or NYC\", \"US or Canada\"\n\n6. Keywords\nExtract relevant search terms and synonyms that would be useful for search optimization:\n\nTechnical skills, tools, programming languages\nIndustry buzzwords and terminology\nCompany descriptors and qualifiers\n\nOutput Format:\nRespond ONLY with valid JSON following the specified schema. No explanations, comments, or additional text.\nExample Input Processing:\nInput: \"search for profile which have AI automation and are located in Mumbai\"\nExpected Output:\njson{\n  \"platform\": \"LinkedIn\",\n  \"roles\": [\"AI automation specialist\", \"AI automation engineer\"],\n  \"lead_count\": 10,\n  \"filters\": [\"AI automation experience\", \"automation tools\"],\n  \"location\": \"Mumbai\",\n  \"keywords\": [\"AI\", \"automation\", \"machine learning\", \"artificial intelligence\"]\n}\nInput: \"Find 25 senior software engineers at YC startups in San Francisco with email addresses\"\nExpected Output:\njson{\n  \"platform\": \"LinkedIn\",\n  \"roles\": [\"senior software engineer\", \"software engineer\"],\n  \"lead_count\": 25,\n  \"filters\": [\"YC company\", \"startup\", \"senior level\", \"email available\"],\n  \"location\": \"San Francisco\",\n  \"keywords\": [\"software engineer\", \"Y Combinator\", \"startup\", \"senior\"]\n}\n\n\"example_outputs\": {\n    \"example_1\": {\n      \"input\": \"search for profile which have AI automation and are located in Mumbai\",\n      \"output\": {\n        \"platform\": \"LinkedIn\",\n        \"roles\": [\"AI automation specialist\", \"AI automation engineer\"],\n        \"lead_count\": 10,\n        \"filters\": [\"AI automation experience\", \"automation tools\"],\n        \"location\": \"Mumbai\",\n        \"keywords\": [\"AI\", \"automation\", \"machine learning\", \"artificial intelligence\"]\n      }\n    },\n    \"example_2\": {\n      \"input\": \"Find 25 senior software engineers at YC startups in San Francisco with email addresses\",\n      \"output\": {\n        \"platform\": \"LinkedIn\",\n        \"roles\": [\"senior software engineer\", \"software engineer\"],\n        \"lead_count\": 25,\n        \"filters\": [\"YC company\", \"startup\", \"senior level\", \"email available\"],\n        \"location\": \"San Francisco\",\n        \"keywords\": [\"software engineer\", \"Y Combinator\", \"startup\", \"senior\"]\n      }\n    },\n    \"example_3\": {\n      \"input\": \"Scrape LinkedIn for AI/ML interns or internship opportunities at startups that have recently received funding. I want at least 20 valid leads\",\n      \"output\": {\n        \"platform\": \"LinkedIn\",\n        \"roles\": [\"AI intern\", \"ML intern\", \"machine learning intern\", \"artificial intelligence intern\"],\n        \"lead_count\": 20,\n        \"filters\": [\"startup\", \"recently funded\", \"internship\", \"series A\", \"series B\", \"venture capital\"],\n        \"location\": \"\",\n        \"keywords\": [\"AI\", \"ML\", \"machine learning\", \"artificial intelligence\", \"intern\", \"startup\", \"funding\"]\n      }\n    },\n    \"example_4\": {\n      \"input\": \"Get me 50 CTOs from fintech companies in New York or remote\",\n      \"output\": {\n        \"platform\": \"LinkedIn\",\n        \"roles\": [\"CTO\", \"Chief Technology Officer\", \"VP Engineering\"],\n        \"lead_count\": 50,\n        \"filters\": [\"fintech\", \"financial technology\", \"C-level\", \"executive\"],\n        \"location\": \"New York OR remote\",\n        \"keywords\": [\"CTO\", \"fintech\", \"financial technology\", \"chief technology officer\"]\n      }\n    },\n    \"example_5\": {\n      \"input\": \"Find founders on Linkedin who raised Series A in the last 6 months\",\n      \"output\": {\n        \"platform\": \"Linkedin\",\n        \"roles\": [\"founder\", \"CEO\", \"co-founder\"],\n        \"lead_count\": 10,\n        \"filters\": [\"series A\", \"recently funded\", \"last 6 months\", \"raised funding\"],\n        \"location\": \"\",\n        \"keywords\": [\"founder\", \"CEO\", \"series A\", \"funding\", \"startup\"]\n      }\n    },\n    \"example_6\": {\n      \"input\": \"Search Linkedin for React developers with 5+ years experience who work at unicorn companies\",\n      \"output\": {\n        \"platform\": \"Linkedin\",\n        \"roles\": [\"React developer\", \"Frontend developer\", \"Full-stack developer\"],\n        \"lead_count\": 10,\n        \"filters\": [\"5+ years experience\", \"unicorn company\", \"senior level\", \"billion dollar valuation\"],\n        \"location\": \"\",\n        \"keywords\": [\"React\", \"JavaScript\", \"frontend\", \"unicorn\", \"developer\"]\n      }\n    }\nUser request: \n{{ $json.chatInput }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2304,
        1312
      ],
      "id": "29d073e1-2754-4f12-b9aa-9ddda84d3861",
      "name": "🧠 AI Query Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2272,
        1536
      ],
      "id": "cc567f32-fcb1-4308-b0bf-b8a1a9bb60ea",
      "name": "🤖 GPT-4 Language Model"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"platform\": {\n      \"type\": \"string\",\n      \"enum\": [\"LinkedIn\"]\n    },\n    \"roles\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"lead_count\": {\n      \"type\": \"integer\",\n      \"minimum\": 1,\n      \"maximum\": 1000\n    },\n    \"filters\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"location\": {\n      \"type\": \"string\"\n    },\n    \"keywords\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"platform\", \"roles\", \"lead_count\", \"filters\", \"location\", \"keywords\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2432,
        1520
      ],
      "id": "81e18f7f-9a11-4c3e-94de-e2582f52684e",
      "name": "📋 JSON Structure Validator"
    },
    {
      "parameters": {
        "jsCode": "// LinkedIn Profile Search Query Builder - Profile Only\nconst input = items[0].json.output;\n\n// Extract and normalize data\nconst roles = input.roles || [];\nconst leadCount = input.lead_count || input.leadCount || 10;\nconst filters = input.filters || [];\nconst location = input.location || '';\nconst keywords = input.keywords || [];\n\n// Helper function to create quoted phrases with OR logic\nfunction createQuotedTerms(terms) {\n  return terms.filter(term => term && term.trim())\n              .map(term => `\"${term.trim()}\"`)\n              .join(' OR ');\n}\n\n// Helper function to build location query\nfunction buildLocationQuery(location) {\n  if (!location) return '';\n  \n  // Handle multiple locations separated by OR, comma, or \"or\"\n  const locationTerms = location.split(/\\s+(?:OR|or)\\s+|,\\s*/)\n    .map(loc => loc.trim())\n    .filter(loc => loc);\n  \n  if (locationTerms.length === 1) {\n    return `\"${locationTerms[0]}\"`;\n  } else if (locationTerms.length > 1) {\n    return `(${locationTerms.map(loc => `\"${loc}\"`).join(' OR ')})`;\n  }\n  return '';\n}\n\n// Build single LinkedIn profile search query\nconst roleQuery = createQuotedTerms(roles);\nconst locationQuery = buildLocationQuery(location);\nconst filterQuery = filters.length > 0 ? createQuotedTerms(filters) : '';\nconst keywordQuery = keywords.length > 0 ? createQuotedTerms(keywords) : '';\n\n// Build LinkedIn profile query\nlet profileQuery = 'site:linkedin.com/in';\nconst queryParts = [];\n\nif (roleQuery) queryParts.push(roleQuery);\nif (locationQuery) queryParts.push(locationQuery);\nif (filterQuery) queryParts.push(filterQuery);\nif (keywordQuery && !roleQuery) queryParts.push(keywordQuery); // Only add keywords if no roles\n\nif (queryParts.length > 0) {\n  profileQuery += ` ${queryParts.join(' ')}`;\n}\n\n// Return single result for LinkedIn profiles only\nreturn [{\n  json: {\n    searchQuery: profileQuery.trim(),\n    leadCount: leadCount,\n    platform: 'linkedin'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        1312
      ],
      "id": "a323b424-6d11-4127-b7b2-1fd35239a93d",
      "name": "🔍 LinkedIn Search Builder"
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "=google"
            },
            {
              "name": "q",
              "value": "={{ $json.searchQuery }}"
            },
            {
              "name": "api_key",
              "value": "92587dd1e36888774c5c53b96f34893f38596c9dc85611d2c8150a3e2243044c"
            },
            {
              "name": "num",
              "value": "={{ $json.leadCount }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        1312
      ],
      "id": "2aafcc35-a924-49b6-90bc-fa741e785a4e",
      "name": "🌐 Google Search Engine"
    },
    {
      "parameters": {
        "jsCode": "// This array will hold all parsed leads\nconst leads = [];\n\n// Simple regex to find emails in text\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-z]{2,}/gi;\n\n// Loop over the 'organic_results' array from SerpAPI\nfor (const result of items[0].json.organic_results || []) {\n\n  // Extract title, link, and snippet from each search result\n  const nameAndRole = result.title || \"\";           // e.g. \"Jane Doe - SaaS Founder\"\n  const link = result.link || \"\";                   // LinkedIn profile URL\n  const connections = result.displayed_link || \"\";   // 590+ followers\n  const snippet = result.snippet || \"\";             // Description snippet from Google\n  const extensions = result.rich_snippet?.top?.extensions || [];  // Additional info, often includes company\n\n  // Split title into name and role (based on \" - \")\n  const [namePart, rolePart] = nameAndRole.split(\" - \");\n\n  // Try to get company name from extensions (usually in 3rd position)\n  let company = \"\";\n  if (extensions.length >= 3 && typeof extensions[2] === \"string\") {\n    company = extensions[2].trim(); // Safe trim only if it's a string\n  }\n\n  // Try to extract email from snippet using regex\n  let emails = snippet.match(emailRegex);\n  // Use the first email if available, else empty string\n  let email = (emails && emails.length > 0) ? emails[0].trim() : \"\";\n\n  // Push the cleaned lead data into the leads array\n  leads.push({\n    json: {\n      name: namePart?.trim() || \"\",       // Safely trim name\n      role: rolePart?.trim() || \"\",       // Safely trim role\n      company: company,                   // Already trimmed\n      connections: connections,\n      linkedinUrl: link,\n      email: email,                      // Extracted email if found\n      snippet: snippet,\n      scrapedAt: new Date().toISOString() // Timestamp when scraped\n    }\n  });\n}\n\n// Return all extracted leads to the next node\nreturn leads;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3232,
        1312
      ],
      "id": "65fe1fcd-2441-4bae-8273-97deb6369f06",
      "name": "📊 Lead Data Extractor"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Cptu8ki8kc1gNuxgzDdNnweso448yxZGS7HCxLH1hjs",
          "mode": "list",
          "cachedResultName": "LinkedIn Scrapper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Cptu8ki8kc1gNuxgzDdNnweso448yxZGS7HCxLH1hjs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xTurre2vkXUUn13z0lHHjYMeDVaSINt_o26q6oiRU1Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Role": "={{ $json.role }}",
            "Connections": "={{ $json.connections }}",
            "Company": "={{ $json.company }}",
            "LinkedinUrl": "={{ $json.linkedinUrl }}",
            "Email": "={{ $json.email }}",
            "Snippet": "={{ $json.snippet }}",
            "ScrappedAt": "={{ $json.scrapedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Connections",
              "displayName": "Connections",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedinUrl",
              "displayName": "LinkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ScrappedAt",
              "displayName": "ScrappedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3584,
        1424
      ],
      "id": "9b2fb436-1a9a-4e65-9c8c-45c85b073803",
      "name": "📈 Save to Google Sheets"
    },
    {
      "parameters": {
        "content": "## 💬 Natural Language Input Processing\n\n### What You Can Ask:\n- \"Find 50 React developers in Indonesia\"\n- \"Search for AI automation specialists in Bogor\" \n- \"Get me 25 startup founders with email addresses\"\n- \"Find senior data scientists at YC companies\"\n\n### AI Parser Features:\n- Extracts roles, location, lead count, filters\n- Handles multiple variations and synonyms\n- Supports complex queries with multiple criteria\n- Validates output with structured JSON schema",
        "height": 740,
        "width": 640,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        960
      ],
      "id": "4623f1ab-aeb2-4e42-a2bd-8271648fb46a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🔍 Smart Search & Data Extraction\n\n### Search Optimization:\n- Builds targeted LinkedIn site searches\n- Combines role keywords with location filters\n- Optimizes query structure for better results\n- Handles multiple locations (e.g., \"SF or NYC\")\n\n### Data Extraction:\n- Scrapes name, role, company, connections\n- Extracts email addresses from snippets\n- Captures LinkedIn profile URLs\n- Adds timestamp for tracking",
        "height": 720,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2736,
        976
      ],
      "id": "88e1b98b-8d4f-45d3-b0c2-3edc9c0455ca",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 📈 Data Storage & Management\n\n### Google Sheets Output:\n- **Name** - Full name extracted from profile\n- **Role** - Job title and position  \n- **Company** - Current employer\n- **Connections** - Follower/connection count\n- **LinkedIn URL** - Direct profile link\n- **Email** - Extracted email address (if available)\n- **Snippet** - Profile description preview\n- **Scraped At** - Timestamp of data collection\n\n### 💡 Pro Tips:\n- Data is automatically organized and timestamped\n- Email extraction helps with outreach campaigns\n- Results can be filtered and sorted in sheets",
        "height": 720,
        "width": 440,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3472,
        976
      ],
      "id": "3fe0c03d-d2df-48f9-9df9-9c2655761380",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 🎯 LinkedIn Lead Scraping Automation Workflow\n\nThis workflow automatically scrapes LinkedIn profiles based on natural language queries and saves results to Google Sheets.\n\n### 📋 Process Flow:\n1. **💬 Input Processing** → Receive natural language search request via chat\n2. **🧠 AI Analysis** → Parse query using GPT-4 to extract roles, location, filters\n3. **🔍 Search Building** → Construct optimized LinkedIn search query\n4. **🌐 Data Scraping** → Execute search via SerpAPI to find LinkedIn profiles  \n5. **📊 Data Processing** → Extract and format lead information (name, role, company, email)\n6. **📈 Storage** → Save all leads to Google Sheets for easy access\n\n### ✨ Key Features:\n- Natural language input (e.g., \"Find 25 AI engineers in Mumbai\")\n- Automatic email extraction from profile snippets\n- Smart query optimization for better results\n- Structured data output with timestamps",
        "height": 320,
        "width": 700,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2624,
        512
      ],
      "id": "5a69c7b5-7d9b-4183-9850-24f3c8ce22f4",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {
    "💬 Chat Input Trigger": [
      {
        "json": {
          "sessionId": "ded3664bbe0e4fb581f42975367f3bfe",
          "action": "sendMessage",
          "chatInput": "search for profile which have AI automation and are located in Mumbai"
        }
      }
    ]
  },
  "connections": {
    "Set Config": {
      "main": [
        [
          {
            "node": "Launch Phantombuster Phantom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch Phantombuster Phantom": {
      "main": [
        [
          {
            "node": "Wait for Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Scrape": {
      "main": [
        [
          {
            "node": "Get Phantom Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Phantom Results": {
      "main": [
        [
          {
            "node": "Parse CSV, Email & Hash ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV, Email & Hash ID": {
      "main": [
        [
          {
            "node": "Search Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Chat Input Trigger": {
      "main": [
        [
          {
            "node": "🧠 AI Query Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 AI Query Parser": {
      "main": [
        [
          {
            "node": "🔍 LinkedIn Search Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 GPT-4 Language Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 AI Query Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "📋 JSON Structure Validator": {
      "ai_outputParser": [
        [
          {
            "node": "🧠 AI Query Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "🔍 LinkedIn Search Builder": {
      "main": [
        [
          {
            "node": "🌐 Google Search Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Google Search Engine": {
      "main": [
        [
          {
            "node": "📊 Lead Data Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Lead Data Extractor": {
      "main": [
        [
          {
            "node": "📈 Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b38528b-d92d-4e06-995f-98aeb7d154c5",
  "meta": {
    "instanceId": "af071afa40e73fe8df37430f8e3121fcf5015f162d7b2a980a109c1f5913dd2a"
  },
  "id": "uFPjnYJ3QMbTO8Cm",
  "tags": []
}