Whatsapp Voice AI Agent.json
{
  "name": "52 Whatsapp Voice AI Agent",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/register-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_ce6f0ce3554213521643c244a7e9"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_id",
              "value": "agent_992d922b1758fdfc561211abcc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        -64
      ],
      "id": "d8d8fc35-526d-4338-8da2-8edff033462e",
      "name": "Register Phone Number"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ff6f4791-8a98-423a-882a-5082adb83398",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        -64
      ],
      "id": "59b63fcc-c314-42df-909d-71c3d350f35c",
      "name": "Get Voice Call",
      "webhookId": "ff6f4791-8a98-423a-882a-5082adb83398"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Dial>\n    <Sip>sip:{{ $json.call_id }}@5t4n6j0wnrl.sip.livekit.cloud</Sip>\n  </Dial>\n</Response>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        160,
        -64
      ],
      "id": "2cdb98a5-7ee6-4dba-9e00-d8017ab7b2fc",
      "name": "SIP Trunking"
    },
    {
      "parameters": {
        "content": "# Whatsapp Voice AI Agent",
        "height": 352,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -208
      ],
      "id": "1a03d374-7956-4354-be2c-94df318b94ce",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC512855366730e39b4a0857b16fb14f27/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $('Receive Whatsapp Message').item.json.body.From }}"
            },
            {
              "name": "From",
              "value": "={{ $('Receive Whatsapp Message').item.json.body.To }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        320
      ],
      "id": "22715eb2-bb28-49d1-802b-0f681e675007",
      "name": "Send Message",
      "credentials": {
        "httpBasicAuth": {
          "id": "WsQzmrY4u3R3NvDi",
          "name": "Twillio cred 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.Body }}",
        "options": {
          "systemMessage": "=Name: Kady\nRole: You are an expert receptionist for Toothsi Clinic. Your job is to communicate with your user, serve them properly, and solve their task. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -128,
        320
      ],
      "id": "626a081e-8ad1-4984-84da-688ca818725c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -272,
        528
      ],
      "id": "14ab5520-0132-48d3-82b5-599441167be2",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "TLy9RuRkIKncoUiy",
          "name": "OpenRouter Freelance account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c2a37ab5-9316-4d86-9685-c8a91cf3ea48",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        320
      ],
      "id": "014b417a-9a24-4f42-9924-830b23c5e766",
      "name": "Receive Whatsapp Message",
      "webhookId": "c2a37ab5-9316-4d86-9685-c8a91cf3ea48"
    },
    {
      "parameters": {
        "content": "# Whatsapp Text AI Agent ",
        "height": 432,
        "width": 816,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        240
      ],
      "id": "9e5fc78d-369d-4b16-ae8b-cb02901fcec6",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Register Phone Number": {
      "main": [
        [
          {
            "node": "SIP Trunking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice Call": {
      "main": [
        [
          {
            "node": "Register Phone Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Receive Whatsapp Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d43dc66-c259-4b0a-bf08-a3ef51e9d95c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d789f98abc61e86dff687f330128f36b18e064e2b032acf62c2a72dbb26457d3"
  },
  "id": "I3MGknHf6voo10QN",
  "tags": []
}